[2015-07-08 16:53] mahagr commented on #549
See also #521

[2015-07-08 16:56] kat05 commented on #501
ok, another brandnew callisto launcher snapshot and i installed the
/joomla-pkg_gantry5_develop/packages/com_gantry5_vdev-43567c479.zip file

got the same warnings again:

Warning
JInstaller: :Install: Can't find Joomla XML setup file.
JInstaller: :Install: Can't find XML setup file.

i keep playing

[2015-07-08 17:01] kat05 commented on #501
/administrator/components/com_gantry5/gantry5.xml
seems missing in a fresh rocketlauncher install

[2015-07-08 17:10] #532 closed

[2015-07-08 17:13] kevlardev commented on #549
Toggle third option previously discussed in #493

[2015-07-08 17:13] #493 closed

[2015-07-08 17:20] kevlardev commented on #528
Consolidating these mainbody/sidebar issues to a single issue for a new container approach

[2015-07-08 17:20] #528 closed

[2015-07-08 17:20] kevlardev commented on #468
Consolidating these mainbody/sidebar issues to a single issue for a new container approach

[2015-07-08 17:20] #468 closed

[2015-07-08 17:30] kat05 commented on #501
language/en-GB/en-GB.files_gantry5_nucleus.sys.ini
seems also missing in a fresh rocketlauncher

[2015-07-08 17:31] w00fz commented on #540
This should be now fixed in CI Build.
Good catch, thanks for reporting it!

[2015-07-08 17:31] #540 closed

[2015-07-08 17:31] kat05 commented on #501
for roksprocket, these seem missing in a fresh rocketlauncher:

/administrator/components/com_roksprocket/roksprocket.xml
/administrator/components/com_roksprocket/roksprocket_install.script.php
/administrator/manifests/libraries/lib_rokcommon.xml

i guess there are other files missing in the launcher from our other included extensions.

[2015-07-08 18:01] #542 closed

[2015-07-08 18:12] kevlardev commented on #547
There is an ordering issue currently, the bootstrap-rtl is loading before the bootstrap main css, it needs to load immediately after in order to provide the appropriate overrides.

[2015-07-08 20:13] kevlardev commented on #531
Were there any other steps you took? Different configuration options you set up or custom styling perhaps? I can't seem to replicate this on a default install. The menu itself inside of the g-navigation section has a negative margin (applied to the g-main-nav class) in order to make the menu item blocks flush with the navigation strip, however this shouldn't affect other module positions as that m

[2015-07-08 20:15] #240 closed

[2015-07-08 20:17] kevlardev commented on #521
Consolidating these issues to the new main issues for reworking the container and nested sections control

[2015-07-08 20:17] #521 closed

[2015-07-08 20:41] kevlardev commented on #502
Ive retooled this a bit to combine a few approaches that should hopefully provide better fallbacks for all conditions as well as have better third party behaviors regardless of which box sizing they are reyling on. It's not a silver bullet, but im hoping this will be cleaner than the previous approach.

[2015-07-08 22:53] alisamii commented on #339
Bumping this issue up to see if this can get a bit of RT TLC,!!

[2015-07-08 22:58] alisamii commented on #303
Any visibility on when this issue might get looked into, specifically re logo particle persistence as described in the use case in my last comment on this issue?

[2015-07-09 06:58] mariantanase commented on #544
Thank you @w00fz ! loud and clear :+1:

[2015-07-09 06:59] #506 closed

[2015-07-09 07:01] mahagr commented on #502
@marktaylor46, @Bokelmann Please test this out. :)

I'm closing this issue as JomSocial team said that they have already fixed the issue in their end.

[2015-07-09 07:01] #502 closed

[2015-07-09 07:23] adi8i opened #550 "Particles in Menu Manager and Module cannot be reset / changed"
Particles under options tab in Menu manager can't be removed.
![capture](https://cloud.githubusercontent.com/assets/9744973/8589970/944eec0e-2624-11e5-8b82-193cf7f4b1a7.PNG)

[2015-07-09 07:24] #442 closed

[2015-07-09 09:15] mahagr commented on #535
I'm kind of agreeing with @alisamii on not removing timestamps from the files. For example WP always appends timestamps to all the assets; nothing is worse than to update a Joomla site and get 100 reports back on broken site because of browser cached files.

[2015-07-09 09:30] marktaylor46 commented on #442
Great stuff - it works! thanks!

[2015-07-09 11:06] #509 closed

[2015-07-09 11:13] mahagr commented on #478
Looks like this one was wrong alarm: user reported that he fixed the issue by reinstall.

[2015-07-09 11:13] #478 closed

[2015-07-09 11:56] #446 closed

[2015-07-09 13:01] #544 closed

[2015-07-09 13:15] sural98 opened #551 "Intermittent delays in G5 particle module"
Is anyone experiencing intermittent delays in G5 particle module when selecting text/clicking?
Unlike other modules G5 particle module response to keyboard /mouse is a strange.

[2015-07-09 13:34] JoomFX opened #552 "Menu ordering not reflected in Joomla/Gantry menu"
This is a reopen of https://github.com/gantry/gantry5/issues/463

The issue does not seem to be resolved. I just tested it with the latest CI Build and here's what happens:

_Clean install of Joomla 3.4.3 + latest CI Build of both G5 and Hydrogen_
1. Created a new Menu Item of type External Link (Item1)
2. Created another Menu Item of type External Link (Item2)
3. Changed the order of the above me

[2015-07-09 15:49] mahagr commented on #550
@w00fz I think this one is mainly for you, as we need to be able to reset particle state via JS.

[2015-07-09 15:51] mahagr commented on #551
Not really, but I'm experiencing some odd slowdown when loading settings tab in admin. Might be related to that?

[2015-07-09 16:04] mahagr commented on #552
Looks that I didn't notice all the ordering issues. Menu has been generally very hard one to fix as Joomla event that was supposed to work didn't allow any modifications to be made.

[2015-07-09 16:11] marktaylor46 opened #553 "Second level menu items not opening on ANDROID mobile in firefox"
I've see this raised by two members now and had it confirmed that this happens (I don't have Android device myself) - so I though I'd raise a ticket and see if there are any suggestions.

Two RT forum posts are:

http://www.rockettheme.com/forum/joomla-template-callisto/244530-firefox-android-does-not-open-second-level-items-in-mobile-menu?start=0#1216805

http://www.rockettheme.com/forum/joomla-t

[2015-07-09 16:26] w00fz commented on #551
Doubt that is related, he's describing the module while you are describing the admin.
I see no delays in the module at all.

[2015-07-09 16:48] newkind opened #554 "WP nonce should get updated on admin page refresh"
@w00fz assigning this to you as @mahagr thinks it should be handled by JS

So the issue is that when you keep G5 admin page open long enough for WP nonce to expire this happens on save : http://monosnap.com/image/IlLAPV3s3nlwN0Z4PEwVJgZKVgSkKB.png

Simple refresh/hard refresh doesn't update the nonce in the url so you need to exit G5 admin to any other admin page and get back to it to make it work

[2015-07-09 17:41] w00fz commented on #536
I don't think this is related to JavaScript. When you uncheck a field in an Outline and Save, that field is not sent at all to the request.
The PHP is reverting it and saving it with the wrong value, I think from the `yaml` default value rather than the Base.

[2015-07-09 17:55] w00fz commented on #554
I'm not sure how I can replace the nonce token on refresh since it's just a page refresh?

[2015-07-09 18:34] kat05 commented on #553
i am unable to replicate the first issue and have left comments on the forum topic.

the 2nd issue, is caused by a custom html module containing an iframe. once that module is disabled, the menu works fine for me. left another response to that member as well.

[2015-07-09 18:53] w00fz commented on #553
Closing since they aren't really G5 issues.

[2015-07-09 18:53] #553 closed

[2015-07-09 19:00] w00fz commented on #535
Well then maybe we should have it as an option. So it stays as is but you can decide to never have to render them (perhaps from the system plugin).

I've been asked by more than one person about it and how they could remove the timestamps and there isn't any way at all. I see the benefit of it but in the end it's just to prevent cache, without the timestamps a few refreshes or a hard refresh would

[2015-07-09 19:02] w00fz commented on #554
What if we just simulate Joomla's `keepAlive` instead?

[2015-07-09 19:09] alisamii commented on #535
Djamil, once again, I recommend looking at the answer provided by **Kip** in this question on stack overflow. http://stackoverflow.com/questions/118884/what-is-an-elegant-way-to-force-browsers-to-reload-cached-css-js-files?page=1&tab=votes#tab-top

His suggested solution does not put a time stamp in the format `css?v=timestamp` but rather rename the link and associates it with a css file that has

[2015-07-09 19:15] w00fz commented on #535
Yeah I've read that solution on stackoverflow and it is indeed a fine and very clean solution.

The problem for us is that it involves editing the `.htaccess` which is something we can't afford unfortunately. Anyone using Gantry would have to add those lines in the `.htaccess` themselves, something that even if well documented would just be causing a lot of confusion.

[2015-07-09 19:23] alisamii commented on #535
Oh well, thought it might help but the .htaccess issue makes it a monster!

[2015-07-09 19:24] alisamii commented on #535
Damned auto-correct changed nonstarter to monster, but it somehow still made sense!

Hehe.

[2015-07-09 19:24] w00fz commented on #535
Hah I thought it made total sense actually.

[2015-07-09 19:29] alisamii commented on #554
Stack overflow again here,

http://stackoverflow.com/questions/12597176/how-to-keep-session-alive-without-reloading-page

[2015-07-09 19:35] w00fz commented on #554
Yup that's my idea also and basically what Joomla's `keepAlive` does. Ajax call every `SESSION_EXPIRE_TIME - few_seconds` to prevent from letting the session expire.

[2015-07-09 20:37] JoomFX commented on #552
Hey @mahagr

I see that you have changed the title of the issue.
I just want to mention that the issue is not only with the re-ordering, it is also with renaming the Menu Items.

Here's what happens:

1. If you do a clean Joomla + G5 + Hydrogen installation and start testing the Menu stuff everything will work fine

2. If you then go to G5 Admin -> Menu Editor, do some changes and hit "Save", the

[2015-07-09 20:40] #550 closed

[2015-07-10 08:03] mahagr commented on #536
Actually PHP doesn't save the value at all, meaning that it doesn't exist in the file. That allows the inheritance from the base configuration to work.

I think that to fix the issue we need to send base settings to JS and making reset to use base settings and not the current preset.

[2015-07-10 08:13] mahagr commented on #535
We can do the renaming the files for our assets without needing htaccess, but I'm not finding it an optimal way as you end up having (temporary) broken links when the files get updated. It also doesn't solve the issue with all the other files.

I think that we will just add option for this.

[2015-07-10 08:16] mahagr commented on #554
That won't fix the issue for laptops because of the hibernation. I've never had this issue in my desktop, but in laptop it happens all the time in both Joomla and WP.

[2015-07-10 08:23] mahagr commented on #554
Looks like WP opens a login window with some Javascript.. It just happened to me, but I didn't have inspect turned on to see the request.

[2015-07-10 08:50] marktaylor46 opened #555 "Indicators in outline dropdown list"
Just an idea that I thought i'd mention.

I think it would be useful if there were indicators shown in the outline dropdown list

1. a "default" template indicator - some members change the default template in template manager and don't rename the "default" outline name - so it gets awfully confusing when tracking issues down.
2. An "assigned" indicator that shows that the outline is assigned to a

[2015-07-10 09:18] mahagr commented on #554
This is what WP does:

```POST http://wp-nucleus.local/wp-admin/admin-ajax.php```

Request:

    interval: "60"
    _nonce: "XXXX"
    action: "heartbeat"
    screen_id: "toplevel_page_layout-manager"
    has_focus: "false"

Response:

    wp_auth_check: "false"
    server_time: 1436516654

```GET http://wp-nucleus.local/wp-login.php?interim-login=1```

[2015-07-10 09:37] kat05 opened #556 "still some issues with layout manager not adding up to 100% on section row"
i've seen it randomly before and again just now on a core joomla test install with ethereal and gantry hebe linked (just pulled half hour ago too, so all is updated)

in the ethereal - home style i went to the layout manager and dragged the 'page content' particle to the right of the 'latest shots' imageblock particle which is in 'main'.

'latest shots' had correctly 100% at first, but after addin

[2015-07-10 10:07] #547 closed

[2015-07-10 10:56] marktaylor46 opened #557 "Mobile Menu on Android/Firefox not working consistently"
Further to #553 and conversations with @kat05 @mahagr

It would appear that mobile menu on Adroid 4.1.2 in firefox 39 and Android 4.2.x does not work reliably. sometimes requiring multiples taps.

Collectively we feel that we should have another look at this to see if anything can be done.

This is forum link http://www.rockettheme.com/forum/joomla-template-callisto/244530-firefox-android-does-not

[2015-07-10 11:01] kat05 commented on #550
works fine for me.

[2015-07-10 11:47] #535 closed

[2015-07-10 12:36] marktaylor46 commented on #162
I still think thjis issue is happening - I had another member site with same issue and even on latest CI build it was still not being update. I manually fixed the issue by creating a new menu item and deleting the errorneous one.

http://www.rockettheme.com/forum/joomla-template-callisto/244571-cant-make-menu-title-changes?start=0#1217093

[2015-07-10 12:41] mahagr commented on #162
There's a new issue #552 related on this..

[2015-07-10 12:42] marktaylor46 commented on #162
There is - but that's title "menu reordering" and this is about "menu renaming" not reordering.

[2015-07-10 13:27] marktaylor46 opened #558 "Possible issue using Cyrillic font"
Please see http://www.rockettheme.com/forum/joomla-template-ambrosia/244537-solved-google-font-subsets-other-that-latin-where-and-how?start=0#1217106

Member reports having to add parameters to font strings to get cyrilic font to work.

Another member reports something similar here too - this time for latin-extended:
http://www.rockettheme.com/forum/joomla-template-callisto/244515-latin-extended-f

[2015-07-10 14:29] marktaylor46 commented on #489
Another topic with same issue here http://www.rockettheme.com/forum/joomla-template-ethereal/244350-login-error-template-layout?start=0#1217132

Despite horizmenu particle settings in base layout, default template layout and particle instance on layout all being empty it stills hows "features, gantry5 etc etc"

[2015-07-10 14:55] marktaylor46 opened #559 "Ability to disable offcanvas swipe gestures"
Member has a third-party slideshow module which uses swipe events to change slides (left and right). unfortunately the swipe event is opening the mobile menu rather than changing slide. So, it would be nice to have the facility to disable the swipe-open of the mobile menu (tick box setting).

member topic is:
http://www.rockettheme.com/forum/joomla-template-callisto/244566-off-canvas-mobile-menu-s

[2015-07-10 16:39] w00fz commented on #558
This is not a bug, it's already possible to add extra charsets from whithin the fontpicker.
See my comment and explanation in here: https://github.com/gantry/gantry5/issues/529#issuecomment-118962467

I'd like to extend the documentation for this at this point, since it came up more than once.

/cc @FrugalGeek

[2015-07-10 16:43] FrugalGeek commented on #558
Will do!

[2015-07-10 16:47] w00fz commented on #536
Well then the problem is how the field renders that value. It looks like it's defaulting to the field default value rather than Base.
I don't think it would be very optimal to have the javascript handle this. It's a lot of work between reading the json and applying the value to each field. If there is no value and it doesn't match a preset it should use Base.

[2015-07-10 18:39] #465 closed

[2015-07-10 18:42] mahagr commented on #546
Postponing this to 5.0.1 as it's really not a bug...

[2015-07-10 18:58] mahagr commented on #536
I finally understood the issue and was able to reproduce it.

[2015-07-10 19:28] w00fz commented on #556
Are you able to reproduce this consistently?

[2015-07-10 19:32] mahagr commented on #536
The issue is that blueprints aren't properly built for the styles, so array merges use wrong strategy.

[2015-07-10 19:45] marktaylor46 commented on #558
Thanks guys - that's very helpful... another thing I didn't know.

Would be useful if that "hover" could be more obvious though - some sort or icon or something.

But.. thanks again

[2015-07-10 20:07] #457 closed

[2015-07-10 20:09] mahagr commented on #457
@TGoodrich Please test this with latest CI build.

I'm now taking account cumulating rounding error.

[2015-07-10 20:34] w00fz commented on #558
With @marktaylor46 suggestions it is now more obvious that there are other charsets available in the font picker and that can be selected.

![fontpicker-charset](https://cloud.githubusercontent.com/assets/11734/8628491/57776dbc-2708-11e5-9810-d27b5b9ebef1.jpg)

[2015-07-10 20:38] marktaylor46 commented on #558
Very good - happy :)

[2015-07-10 22:12] kevlardev commented on #538
In the meantime, ive added some css to nucleus to reset the width on these erroneous containers to stop the overflow issues from appearing.

[2015-07-10 22:12] kevlardev commented on #528
In the meantime, ive added some css to nucleus to reset the width on these erroneous containers to stop the overflow issues from appearing.

[2015-07-10 22:12] kevlardev commented on #468
In the meantime, ive added some css to nucleus to reset the width on these erroneous containers to stop the overflow issues from appearing.

[2015-07-10 23:22] #559 closed

[2015-07-10 23:24] w00fz commented on #559
This is now implemented as a new option in the `Offcanvas Section`, like displayed in the screenshot below.

Please note that the swipe gesture, hamburger icon, offcanvas position.. that is all tied to the offcanvas section and not the menu (just a FYI).

![swipe-gesture](https://cloud.githubusercontent.com/assets/11734/8630810/8252c10a-271f-11e5-8593-aa167f571742.jpg)

/cc @felixo1234 (I remember

[2015-07-10 23:33] w00fz commented on #510
For future references, an option has been added as per #559 request and in case of an issue like the above, the G5 swipe gesture can be disabled to not mess with RokSprocket (in this case).

[2015-07-11 00:18] w00fz commented on #557
I've been able to launch an emulator with Android 4.1.1 and Firefox 39 but the issue wasn't reproducible.
If anyone is able to reproduce the issue and perhaps contribute with a fix, it will be much appreciated, otherwise we just have no way of fixing it.

This is a video of the emulator running android 4.1.1 and Firefox 39.0, as you can see there is no issue with it: https://cloudup.com/cQ-rR4dO6N

[2015-07-11 00:27] w00fz commented on #551
Did you figure it out @sural98 ? I don't see anything weird on my end. Perhaps restarting the browser / clearing cache? Also what browser are you trying with and did you try with a different one?

[2015-07-11 00:31] w00fz commented on #388
Closing this for inactivity and since it's a Joomla issue more than Gantry 5.
Feel free to reopen if needed.

[2015-07-11 00:31] #388 closed

[2015-07-11 00:35] w00fz commented on #303
I would love this and many other requests to be implemented asap but the honest truth is we need to focus on getting out the first release and then jump on finishing WordPress which is a tad behind.

When waters are calm again and things are more stable we can focus on adding new features as well as reworking those bits where we are lacking on.

I know there are a lot of good ideas and I truly wou

[2015-07-11 09:40] sural98 commented on #551
I have tested the issue with Ambrosia RL and were unable to reproduce.
On the other hand I suspected that it would be the cause if 2 RT G5 templates coexisted. I have installed Ethereal also. No. There were no issues with this installation too.
I have again tested the issue in Opera v.31.0.1889.50. Same problem.
Is it the number of modules, menus? No idea.
@w00fz Can we again arrange a TeamViewer

[2015-07-11 10:02] marktaylor46 opened #560 "Add template version on "available themes" and "theme" page header"
It would be very useful if the template version number could be shown on the "available themes" page and the "theme" header. it would save having to look under extensions manager > manage.

Even better still would be also to flag that version with "[out of date]" legend if the template was not the latest one available.

![2015-07-11_10-53-29](https://cloud.githubusercontent.com/assets/11683218/863

[2015-07-11 11:15] alisamii commented on #560
Maybe, a button could be displayed next to the configure and preview buttons when an update is available that will take you directly to the update manner.

Best regards,

Ali

[2015-07-11 15:04] FrugalGeek commented on #558
Added: http://docs.gantry.org/gantry5/tutorials/using-the-font-picker#selecting-your-font-weights-and-

[2015-07-11 15:04] #558 closed

[2015-07-12 13:34] marktaylor46 commented on #560
I'm not so keen on the button to go to joomla update manager. Before doing any update your should first take a backup. If we were to go straight to joomla updater it might mean that users do not take a backup first. I'd be happy with just the Legend showing not up-to-date.

Also don't forget Gantry 5 is multi-platform so each platform would need to go to a different place for updates so I think th

[2015-07-12 13:35] marktaylor46 commented on #558
great - thanks!

[2015-07-12 16:03] alisamii commented on #560
I understand the concern there. Having said that, I think that you can't build something with the advanced capabilities of gantry 5 and then assume the end user is not capable of taking the most basic concepts of site maintenance in mind. Also, in most cases I would assume that the end user developing the site will be more likely a web developer or designer building a site for a client, and that t

[2015-07-12 16:05] marktaylor46 commented on #560
I think you're proving my point... it would make it too complex IMHO, having now to check for access levels etc. But let's see what the DEVS say.

[2015-07-12 16:53] kat05 commented on #556
i wish i could, but it's randomly happening.

[2015-07-12 16:59] adi8i commented on #556
I've seen something similar too, happening when you fast move particles in layout, or use undo/redo buttons. Sometimes particles are subducted , you need to remove them from layout and add again.
@w00fz if you remember i've told you or i've opened an issue some time ago, but i am not able to reproduce this consistently. And this happend only 2 or 3 times for me.

[2015-07-12 17:10] kat05 commented on #556
i agree, sometimes i was doing some undo and redo actions etc before this happened. this last time i did not, but i dont know if the issue once occured, if it will stay broken on that same install and keep happening.

[2015-07-12 17:16] w00fz commented on #556
Great part of this was fixed sometime ago when we found out with you Kat that the touchpad was cause of some odd behaviors with ghost particles left over and such. Even though I don't think this is related to that.

Ever since then I haven't seen any reports re this problem but I'm not denying they are there, I'm just unable to fix it without being able to see it.

My feeling is this must have to

[2015-07-12 17:39] alisamii commented on #560
Not at all. I'm in no way suggesting checking access levels. I'm saying that joomla will prompt, on the admin backend cpanel that there are extension updates available.

Most developers, when they build and develop a site for their clients, will not limit the client's access in any way, and most clients would object to a final delivery where their access is limited. So these no need to check acl.

[2015-07-12 17:47] alisamii commented on #556
I've seen this behaviour add recently add this past Friday on a CI build from earlier in the week. Not exactly sure what I was doing but I switched to a different outline without saving and came back because even though I tried to delete the particles that were affected and drag them back in, they kept resizing incorrectly (added first particle, 100%, added second particle, both at 50%, added thir

[2015-07-12 18:27] adi8i commented on #556
From my point of view this issue is not a so important one, because is not happen consistently adn don't cause major problems, are other improvements with higher priority,  is an issue that must stay opened and be tracked, at a time maybe we found a solution for this.

[2015-07-12 21:42] DamirPecnik opened #561 "OFFCanvas Slide in from top and bottom with X close button full screen"
It would be nice to have ability for offcanvas to be full width with x close button and maybe add a slide from top and from bottom as position. So when user clicks the button it would slide from top to bottom or vice versa. Also fade in from background would also be awesome effect ...

[2015-07-13 08:36] adi8i opened #562 "Core font size default value can't be changed."
`$core-font-size` value can't be changed, even if i change the value in `scss/configuration/_typography.scss`, will still display `font-size: 1rem`. Basically all Base Sizes and Heading Sizes placed in `_typography.scss` are not readed.

Because you already defined `h1 { font-size: $h1-font-size } ` in nucleus, i should be able to change only core value, so i don't need to define h tags again.

I'

[2015-07-13 09:05] mahagr commented on #551
I think there's something else going on, may be related to number of menu items or something..

So you're able to reproduce this in a single Joomla instance? The issue must be in JavaScript, which means that you may able to benchmark JS and see which functions take the most time.

[2015-07-13 09:11] mahagr commented on #560
Actually updates already work via Joomla update manager, but currently paid templates do not have automated updates, mostly because of some logic is missing to verify if users are allowed to download the new version.

Most of the argued issues relate to us checking if user has changed any files that may be overridden during update. We already have MD5 generated for every file, but there are no che

[2015-07-13 09:13] marktaylor46 commented on #560
All the stuff about "update" is of secondary concern to me. The primary reason for me raising the ticket was to get Versions number visible in the two locations that I indicated.

[2015-07-13 09:16] mahagr commented on #562
This is because of the values are defaults and used only if configuration hasn't been saved or the value is missing from the configuration. So the values are just fallbacks and you need to update default value from yaml file, to be the same, to get any effect.

[2015-07-13 10:30] kat05 opened #563 "joomla menu item editor input height wrong on g5 custom page items"
when editing a menu item which menu item type = gantry 5 custom page, then the input fields have a reduced height compared to any other menu item types that are part of the joomla core.

this is best shown in a screenshot. (using ff on mac, not checked other browsers yet)

this install is a core joomla install running ambrosia and gantry hebe linked, all updated.

![g5_inputheight](https://cloud.g

[2015-07-13 10:30] marktaylor46 opened #564 "Joomla email cloaking plugin"
Joomla's email cloaking plugin does not work on any particle content so email addresses are not cloaked.

So I guess the real question is - can Gantry 5 do anything to cloak email addresses in particle output?

Typical code used:

    <a href="mailto:test@test.com">email test</a>

Regards, Mark.

[2015-07-13 12:04] adi8i commented on #562
I am bit dizzy, the default value is 1.5 rem, in yaml file also the default value is 1.5rem, i can go to styles enable the field and add any value, this will work.
I the field is disabled the default value will be 1rem.

![capture](https://cloud.githubusercontent.com/assets/9744973/8649168/21733aec-2970-11e5-9264-abc48a8ab92a.PNG)

[2015-07-13 12:52] mahagr commented on #562
I think I know the issue here.

@kevlardev Can you make sure that template configuration gets loaded before nucleus configuration. The issue is that !default only sets the value once, so template overrides get skipped.

[2015-07-13 15:22] #562 closed

[2015-07-13 15:29] mahagr commented on #564
Same as #369

[2015-07-13 15:29] #564 closed

[2015-07-13 15:31] marktaylor46 commented on #564
How is is the same? it's not a shortcode being used at all? it's just ordinary html in the output from a particle?

[2015-07-13 15:32] mahagr commented on #564
Both are fixed by enabling Joomla onDisplayContent event from the particle output.

[2015-07-13 15:32] marktaylor46 commented on #564
ok fair enough. But I'll add comment on other ticket too.

[2015-07-13 15:33] mahagr commented on #564
Sure, saves some time from me. :)

[2015-07-13 15:34] marktaylor46 commented on #369
Note above #564 email cloaking plugin needs to scan particle output to cloak any email addresses.

[2015-07-13 15:42] #563 closed

[2015-07-13 15:48] kat05 commented on #563
looks good now!

[2015-07-13 16:03] kat05 opened #565 "'Page heading' does not show on Gantry 5 custom page"
this has been mentioned in our forum:
http://www.rockettheme.com/forum/gantry-framework/244553-dropping-gantry-5?start=10#1217584

Global config > SEO Settings > Include Site Name in Page Titles doesn't work so I would have to manually do this or change all of gantry pages to Joomla pages.

i have not yet tested the seo issues, but can confirm that the 'Page Heading', set in the menu item > page d

[2015-07-13 17:30] mahagr commented on #564
Doh, wrong reference..

[2015-07-13 17:31] mahagr commented on #565
Fixed in

https://github.com/gantry/gantry5/commit/ebc5f0d0fb201c9031109ca3519c416c1c7a00d9

[2015-07-13 17:31] #565 closed

[2015-07-13 17:43] w00fz commented on #501
This is more internal than Gantry, related to our Builder for the RLs, I'll look at it but im removing it from the 5.0 release milestone.

[2015-07-13 22:54] webmasterchris opened #566 "Article not on a menu are recieving the wrong theme outline"
Articles hyperlinked in content and not on a menu are receiving the theme outline of the home page not the default theme starred in the Joomla Template Manager:styles page. This is isolated to Ganty5 templates. Ive tested other like beez3. Links work properly in beez3. Is there a config change I need to make.

[2015-07-14 00:57] prototype2118 opened #567 "Gantry 5 and SEF components in Joomla"
Gantry 5 doesn't seem to work very well with SEF components unless you link to an single article. If you link to a custom gantry page it just thinks that there is no page there at all.

It also doesn't include the site name in the title unless you link to a Joomla page. eg if you link to a Gantry page it doesn't work.

Global config > SEO Settings > Include Site Name in Page Titles doesn't work so

[2015-07-14 01:34] prototype2118 opened #568 "Not having to create a new outline for every joomla module manager instance of a Gantry 5 particle"
Can we have it so that way if we want to implement a Gantry 5 particle module that we don't need to also have a corresponding outline?  It would be nice just to have the straight up Joomla integration of creating a Gantry 5 particle module, assigning it a position in the template and then assigning it to a menu item of a legitimate Joomla CMS article.  It's very difficult to have to create an outl

[2015-07-14 07:27] mahagr commented on #566
You can find the logic which Joomla uses to find the menu item for articles from ```components/com_content/helpers/route.php``` file. It will just pick the first menu item that matches its requirements (of if nothing is found, it defaults on starred item). For some reason in your case it's the home page that gets picked up the first. You can end up the same situation with beez3, but in your case i

[2015-07-14 07:29] mahagr commented on #567
I believe that I've already fixed this just before the release in #565. :)

[2015-07-14 07:34] mahagr commented on #568
You can already do this.

Outlines are meant to contain all the static content like logo, menu and footer information that doesn't change between the pages. For the rest you should create module positions and assign modules -- including particle modules into those Joomla positions, just like you would do in any template.

[2015-07-14 10:53] sural98 opened #569 "G5 latest release breaks something at backend"
The following is from Ambrosia's G5 particle module
![alignment issue](https://cloud.githubusercontent.com/assets/1849490/8671639/98d6a64a-2a2f-11e5-941b-58aa5d905144.png)

[2015-07-14 11:09] kat05 commented on #569
Good catch, I can confirm this issue in > Modules > FP Mainleft Headlines 1

[2015-07-14 11:12] sural98 commented on #569
Not only that one but all particles with sub-elements behave like this.

[2015-07-14 11:13] mahagr commented on #569
@kevlardev can you take a look?

[2015-07-14 11:40] hw225 opened #570 "Module Gantry 5 Particle: reset upon -> edit -> save"
PHP Version 5.4.42
Curl
openssl
Multibyte string
Fresh Joomla Joomla! 3.4.3 install
Multi language setup correct
Latest Gantry 5 version joomla-pkg_gantry5_v5.0.0

---

Module Gantry 5 Particle set to get a particle (sample content)
Pick the particle
Enter content -> Apply
Set language of module
Set position (drawn from outline)
Set menu assignment
Set module advanced->headline to H2
Set Title mod

[2015-07-14 12:08] hw225 commented on #570
Hmm something weird is gong on...
After trying to save different info in different ways and making a new test module some of the particle modules shows more than one particle associated in the module manager.

Also now some of the modules keep their settings and particle. So it is not consistence.

 Maybe this is related to that I made all of these modules as "

![2015-07-14 13-55-56](https://clou

[2015-07-14 12:15] sural98 opened #571 "Admin screen shot in release notes vs actual"
Admin screen shot at http://gantry.org/blog/gantry5-released is different from that of actual release.
![admin extra1](https://cloud.githubusercontent.com/assets/1849490/8672850/b8d21032-2a3a-11e5-834d-ecd902482034.png)
![admin extra](https://cloud.githubusercontent.com/assets/1849490/8672849/b8d1de46-2a3a-11e5-8fdb-2ceb0ee6e50a.png)

[2015-07-14 12:24] JoomFX opened #572 ""g-system-messages" is loaded even if it should not"
Hey guys,

I just updated the site I'm working on from G5 RC3 to G5.0.0 and I see that the `g-system-messages` element is loaded all the time, while it should not. And in RC3 the `g-system-messages` element was not loaded all the time, it was loaded only if there is a System Message that needs to be displayed.

This is quite of an issue if, for example, you have applied some padding and background

[2015-07-14 12:30] hw225 commented on #570
I got the modules sorted out by going into each and remove the particle and save & close. Then went back inside and added the particle again.
Now it seems I can keep editing them without loose particle or get double-up on particles assigned.

Might be the "Save as a Copy" workflow I did the first time on creation of the modules...

[2015-07-14 12:51] JoomFX opened #573 ""Box-sizing: inherit" causes an issue with the RokSprocket Loader (at least with Strips)"
The new "box-sizing" in G5.0.0 is in conflict with the RokSprocket Strips loader:

[code]

I do not think it is a G5 issue as I personally think the new "box-sizing" is better than the old one. I just wanted to let you know as you will probably need to apply some fix directly in RokSprocket (or as a fix/override in G5) so the loader shows properly. I did it with the following code:

[code]

[2015-07-14 12:51] webmasterchris commented on #566
That's not really what is happening. It's only happening in Gantry 5 and in every instance in it, new Joomla install, upgrade, different themes. If it was not intentional, this is definitely a bug. The issue resolves itself if only one Gantry style is used. For example, If I use only the 	Callisto - Default style. This is not an isolated incident and definitely a bug.

[2015-07-14 13:21] JoomFX commented on #573
And while we are on "box-sizing" I'd like to ask you for your opinion about one more thing...

You have the following code in Nucleus (`_forms.scss` in `media/gantry5/engines/nucleus/scss/joomla`):

[code]

Wouldn't it be better to have it also set to `inherit` or just to delete it?
I currently have the following issue because of the above code:

![alt](http://i.imgur.com/em1w2q4.png)

In the abov

[2015-07-14 13:25] webmasterchris commented on #566
I'm not sure I'm communicating this effectively. Most of the sites I develop don't use the page content position on the home page. The way I tested this it to add the page content position to the home style. All content then rendered properly only with the home template style modules. When either I have the page content position on both template styles or I use only 1 template style the bug isn't

[2015-07-14 18:28] FrugalGeek commented on #571
Fixed!

[2015-07-14 18:28] #571 closed

[2015-07-14 18:28] mahagr commented on #572
Yes, I know...

The issue is that Joomla really requires system messages to be around on all times and we had to think off a way which would affect the least. Even Gantry4 had the section that contained system messages to be around all the time. Same is true on all Joomla templates.

You just need to find a new location for system messages, maybe its own section or something. Or try to think a bet

[2015-07-14 19:02] #475 closed

[2015-07-14 19:09] trainspotting opened #574 "Internal Server Error on saving menu if you have icon only menu entry."
When using the Gantry v5 menu editor, if you edit a menu entry so that it only has an icon and no actual text (so for example I added a HOME icon and removed all text from the heading)... then the settings won't save and throw an Internal Server Error.

(In RC3 it was accepted ok, and so anyone who has upgraded from RC3 to v5 with just an icon will encounter this problem... as will anyone who trie

[2015-07-14 19:27] JoomFX commented on #572
I will create a new section specifically for the System Messages.

Thanks Matias :)

[2015-07-14 19:42] Design-ADCD opened #575 "Default Sections"
It would be quite useful if I could create default sections that would be applied to all outlines. Sometimes I got to recreate everything to a new Outline, or change every Outline just because of a single changing, like the Logo in the Header for example. This would be so helpful.

[2015-07-14 21:04] kevlardev commented on #573
The problem with the box sizing on inputs is that the whole bootstrap2 setup requires content-box on inputs for everything to appear properly. I can't identify every use case or third party extension from the theme css that may or may not be expecting bootstrap2 behavior so have to do a blanket setting in the joomla css to set those to content-box as they are in bootstrap2.

[2015-07-14 22:23] JoomFX commented on #573
Thanks for the reply Kevin :)

Yah, it is not a big issue, not at all. I just wanted to see what you think about it. I will fix the stylings on case by case basis, not a problem.

What about the RokSprocket Loader issue? Did you notice that already with the commercial RT templates? And how do you plan to handle that - put some code in the extension or in G5 (I suppose in G5)?

[2015-07-14 23:04] kevlardev commented on #573
Ya we will likely have to add an exception in g5, or atleast the themes themselves, for roksprocket box sizing override.

[2015-07-14 23:06] #554 closed

[2015-07-14 23:07] kevlardev commented on #572
Probably the best approach we can take for this is to not have the g-content div rendered for the system messages particle (which contains the margin/padding creating the spacing) and instead have the padding and margin applied on an internal element that is outputted by Joomla when an actual message is shown

[2015-07-14 23:10] w00fz commented on #575
We do have plans to implement a mechanism where you can inherit **Sections** from other **Outlines**, as well as inherit **Particles** settings from others of the same type.

[2015-07-14 23:11] w00fz commented on #575
See also #340

[2015-07-14 23:20] w00fz commented on #554
After digging into the issue, none of what was suggested above had anything to do with the `nonce`, the `nonce` is not a keep alive but a use_only_once token.
The original issue reported by @newkind was about the `nonce` token not getting updated when refreshing the page.

When the `nonce` expires, Wordpress shows the error **Are you sure you want to continue? Please try again**, this is the norma

[2015-07-14 23:38] w00fz commented on #570
I'm not getting this issue with Save as Copy. Did you update to the latest 5.0.0 release version?

[2015-07-15 01:10] sam-sk commented on #574
I'm having same problem and posted in the forum.

[2015-07-15 07:38] sural98 opened #576 "Language implementation in Assignments"
I see a language implementation in Assignments and I am totally confused:
Will it make menu item assignments useless?
Are we pairing template style (outline) with a language?
How will that work?
Can @FrugalGeek prepare a doc regarding that issue?

[2015-07-15 08:16] sural98 commented on #569
There is something more to be done I think. Some text need no wrapping.

![alignment issue](https://cloud.githubusercontent.com/assets/1849490/8693832/c3e343a8-2ae2-11e5-879a-1f1163f5d9da.png)

[2015-07-15 09:03] mahagr commented on #569
Reopened to let @kevlardev to decide what to do with the another issue.

[2015-07-15 09:21] JoomFX commented on #573
ok, thanks Kev ;)

[2015-07-15 09:25] mahagr commented on #566
What you explained above still looks like normal Joomla behavior to me. Edit the menu item of your home page and tell me that you aren't using com_content component in it and I will agree this is a bug.

When I visit your site, Joomla is telling me that you indeed have Articles component as your home page. Logic in Joomla Articles router says that it should always use the first com_content menu it

[2015-07-15 09:30] mahagr commented on #576
It's the same Joomla feature you see on the right side when editing beez or protostar styles. Basically it allows you to set template style as your home page for a single language only.

[2015-07-15 09:35] sural98 commented on #576
That means it is not a radical multi-language implementation and no worry for confusion.

[2015-07-15 09:55] mahagr commented on #576
Yeah, it's just Joomla feature.

We are still missing inline translations for all the particles as I really do not like the Joomla way of copying everything over for every single language.

[2015-07-15 10:01] alisamii opened #577 "Custom JS/CSS atom enhancement"
Currently, when you add a Custom JS atom, you can specify the file location and that is about it. However, JSs can be either placed in the `<head>` element or in the footer just before the `</body>` tag. There is even syntax within G5 to insert the script file reference in the head or footer. However, there is no interface within the particle to specify the target insertion point.

It would be ver

[2015-07-15 10:09] hw225 commented on #570
I tried to replicate today and first could not.
But then I tested with the content of the particle (sample content particle)
It looks to me as if one use æ ø å in the "Link text" field.of the particle
then  APPLY
SAVE
Make some other (or none) edit in the module interface
and then hit SAVE or Save & Close again
![particle-content](https://cloud.githubusercontent.com/assets/13331654/8696160/5a3b15c

[2015-07-15 11:15] sural98 opened #578 ""Hide unassigned items" not working"
"Hide unassigned items" option in  Assignments is not working in my local Ambrosia installation.
Can anybody reproduce the issue?

[2015-07-15 11:44] mahagr commented on #578
It's not fully working for me either. Half of the menu items still show up even if they aren't assigned to the page. This is with my local install of Hydrogen.

[2015-07-15 11:59] sural98 commented on #578
None is hiding in my case.
Will you please take a look at this closed issue?
https://github.com/gantry/gantry5/issues/398

[2015-07-15 12:38] titro opened #579 "Editing a subtitle in Menu Editor causes all of the subtitles to get lost after save."
Joomla 3.4.3 with latest Gantry 5.0.0

Subtitle functionality is broken.

If a add a Subtitle in Menu manager (Parent)it is shown in the preview and can be sucessfully saved (or looks so).

But:
- Subtitle is not added to the menu entry in Frontend
- If i go back to Setup and open Menu Manager again, the submenu entry does not exist

[2015-07-15 14:40] marktaylor46 commented on #579
I can confirm this too.

But also. in joomla menu manager. if you complete the link type > link title attribute field then that then does shows on frontend - but all the other subtitles have vanished from Gantry 5 menu manager.
![2015-07-15_15-37-25](https://cloud.githubusercontent.com/assets/11683218/8701094/b9c97f0c-2b07-11e5-8041-0ab35ba9597d.png)
![2015-07-15_15-37-13](https://cloud.githubuser

[2015-07-15 16:42] w00fz commented on #579
When you say submenu do you mean subtitle or a sublevel?

[2015-07-15 16:44] marktaylor46 commented on #579
my apologies - I mean the subtitle text when you open ambrosia they are all set, change one of them and they all vanish - only way to get them back is to add them in joomla menu manager.

[2015-07-15 16:44] w00fz commented on #577
This was also mentioned in #62, not sure why it was closed.

[2015-07-15 16:50] w00fz commented on #578
I don't see any problem here on my local on a fresh Ambrosia installation. When i click "Hide unassigned items" from the Demo Outline I get this:

![ambrosia - administration 2015-07-15 09-50-05](https://cloud.githubusercontent.com/assets/11734/8704285/e5032f32-2ad6-11e5-8432-ea74073eb378.jpg)

I tried on both Chrome and Firefox. Any other clue on how I can reproduce the issue?

[2015-07-15 16:55] kevlardev commented on #578
I'm getting the same as djamil, it appears to be working properly in all my tests. Were there any conditions or special circumstances that might be causing this to fail (custom outlines, configuration changes, etc?).

![screen shot 2015-07-15 at 11 52 17 am](https://cloud.githubusercontent.com/assets/4529755/8704409/697be72a-2ae8-11e5-89ff-38d6bfff7c3e.png)

[2015-07-15 16:59] w00fz commented on #579
Maybe let's wait and see what @titro was referring too, it might be the same issue.

I'm suspecting that he created an empty sublevel, saved and the sublevel didn't show on frontend. This is expected, since it's empty there's nothing to show on frontend.
For instance, if Home is not a parent item and you click on it, you will get a sublevel (so that you can add Particles and Modules in it), althou

[2015-07-15 17:07] titro commented on #579
Sry! I mean subtitle of course! Not submenu!
Am 15.07.2015 6:59 nachm. schrieb "Djamil Legato" <notifications@github.com

[2015-07-15 17:08] w00fz commented on #577
See @adi8i's contribution in #580, would be nice if you could give it a try. I'll review soon and merge it in later.

[2015-07-15 19:56] w00fz commented on #578
Do you have an empty Menu @sural98 ?

[2015-07-15 20:00] newkind opened #581 "There are not needed options in the Menu Selection Dropdown"
These two options from the screenshot aren't needed in WP as you cannot set menu as active or default.
![hydrogen theme gantry5 wordpress wordpress 2015-07-15 21-57-41](https://cloud.githubusercontent.com/assets/1641534/8708525/c956b018-2b3c-11e5-8d98-7113c8837bb2.jpg)

[2015-07-15 20:18] #578 closed

[2015-07-15 20:18] w00fz commented on #578
This should be fixed now.

[2015-07-15 20:25] webmasterchris commented on #566
![issue](https://cloud.githubusercontent.com/assets/11822535/8709032/9c5a47ca-2b0d-11e5-8004-678c6628c673.PNG)

I recreated the menu as you suggested. it was working until I deleted the old menu. The then showed the error above. Your suggestion did not work on another site I'm working on. I used a hidden menu which is not a long term solution due to the size of that specific site. I'm glad to give

[2015-07-15 20:56] webmasterchris commented on #566
I then recreated the in content links, went straight back to the home page and back to square one. It appears to be a bug. Thanks for you attention mahagr!

[2015-07-15 21:59] #569 closed

[2015-07-15 22:19] w00fz commented on #570
Ok that is bizarre. I can replicate with those characters.

[2015-07-15 22:29] #570 closed

[2015-07-15 22:29] w00fz commented on #570
Ok this should be now fixed, you can give it a try in the latest [CI Build](http://gantry.org/downloads#ci-builds) if you like.

[2015-07-15 22:34] w00fz commented on #574
This issue should be fixed in the latest [CI Build](http://gantry.org/downloads#ci-builds). I can reproduce the problem in the latest 5.0.0 but not in the CI Build.
If you guys could confirm it by trying out the CI Build it would be great. You can always revert back to stable by updating from the Joomla Updates.

I'm closing it now, feel free to reopen if the issue persists.

Thank you!

[2015-07-15 22:35] w00fz commented on #576
Closing this as it sounds like you got your answer there.

[2015-07-15 22:35] #576 closed

[2015-07-15 22:41] kevlardev commented on #561
We actually do have the ability in there for the offcanvas to go full width (by setting the panel width to 100% for instance) however we don't have a close button within the panel itself. It's something we can look into later, detecting if its 100% and adding a close button in that event, as well as some possible other direction options and transitions.

[2015-07-15 22:41] DamirPecnik opened #582 "Add Edit Button to open Module Edit"
Add a Edit Button on Module Instance Particle if the module is already linked to Module Instance so we open the module edit right away and not the module index page...

![2015-07-16 00 38 00](https://cloud.githubusercontent.com/assets/10489911/8711548/3a5d536e-2b53-11e5-95aa-6e6b9b2aa032.jpg)

[2015-07-15 23:04] #560 closed

[2015-07-15 23:09] w00fz commented on #582
You can click on the link `Joomla's Module Manager` and it will take you automatically to the Module settings in Joomla, the links gets also automatically updated every time you pick a different module.

Although this brought up an issue with the link not getting properly updated on first load, which is now fixed.

Thank you!

[2015-07-15 23:10] #582 closed

[2015-07-15 23:23] kevlardev commented on #531
Im going to go ahead and close this for now, as I can't seem to find a way to reproduce this. Please feel free to reopen if you are still experiencing this issue.

[2015-07-15 23:23] #531 closed

[2015-07-15 23:27] w00fz commented on #561
The close in the offcanvas can be easily added via a Custom HTML particle. Drop it as first Particle in  the Offcanvas section and just add this html:

[code]

Any element, anywhere in the page, that has a data-set `data-offcanvas-toggle` will trigger the open/close of the offcanvas. You have available these 3 types:
 - `data-offcanvas-toggle`
 - `data-offcanvas-open`
 - `data-offcanvas-close`

So

[2015-07-16 00:54] w00fz commented on #577
This is now implemented, I merged #580.

[2015-07-16 00:54] #577 closed

[2015-07-16 00:56] w00fz commented on #350
I think since this is very template specific, one should just override the `page.html.twig` and remove the assets from loading.
If a developer is building a theme from scratch, it would just not be there.

[2015-07-16 00:56] #350 closed

[2015-07-16 00:57] w00fz commented on #243
This is now possible with the implementation from #580.

[2015-07-16 00:57] #243 closed

[2015-07-16 00:59] #561 closed

[2015-07-16 02:32] sam-sk commented on #574
I'm using dev-7c004a5ef CI Build and still having Internal Server Error

[2015-07-16 06:57] mahagr commented on #570
Do we need the fix elsewhere or was this issue only with Joomla filtering the module input?

[2015-07-16 07:20] mahagr commented on #574
That is the latest build with all changes up to this moment. I'm reopening the issue so we can continue investigating it.

@sam-sk Just to verify that we are trying to do exactly the same, could you provide steps to reproduce the issue?

[2015-07-16 07:46] mahagr commented on #566
Your error comes from Joomla articles component; for some reason routing isn't working in that example. I think it may be some kind of configuration or cache issue...

PM me in gitter chat and I can take a look.

[2015-07-16 08:04] adi8i opened #583 "Menu dropdowns on desktop don't work when Offcanvas is empty"
I don't see any issue open for this. The js is broken and will not change between `g-inactive` and `g-active` on dropdown.

Ok, it will only if you add `mobile menu` particle in layout.

@w00fz

[2015-07-16 08:08] #579 closed

[2015-07-16 08:09] mahagr commented on #579
@titro Could you try out the last CI build?

[2015-07-16 08:12] sam-sk commented on #574
It is may be not allowed by Joomla. But it was possible in RC.

Open any menu in Hydrogen menu editor and set FontAwesome icon. Then edit the title and remove all text. Save without title just to get the fa icon only shown.

500 Internal server error.
Cannot save menu without title.

[2015-07-16 08:14] mahagr commented on #583
I saw another issue on this, not sure where I saw it. I think it was on gitter chat..

[2015-07-16 08:32] mahagr commented on #574
Having title in menu item is a requirement from Joomla.

Improved error message so that you're able to fix the existing issues, but in the future we really need to detect this from Javascript.

[2015-07-16 08:51] hw225 commented on #570
Confirm: now æøå works in latest CI Build on my site.
Thanks a lot.

[2015-07-16 08:55] marktaylor46 commented on #579
@mahagr I just tried this and it does seems fixed to me - obviously it doesn't get back subtitles that you already lost though - you have to add them back yourself.

[2015-07-16 09:00] marktaylor46 commented on #560
@kevlardev Thanks - I just tried it out and it looks great!

[2015-07-16 09:49] devilstars commented on #583
Confirmed. When i've upgraded gantry from RC3 to 5.0.0 dropdown items have stopped to show on mouse hover. Downgrading to RC3 fixed it.

[2015-07-16 10:27] kat05 commented on #583
i can confirm this issue. as long as the mobile menu particle gets loaded, the dropdown works fine.

[2015-07-16 10:36] sural98 commented on #578
It is fixed now with the latest update.
FYI. There was a menutype not defined in #__menu_types

[2015-07-16 10:44] mahagr commented on #579
Yeah, what is lost is lost... We need to get 5.0.1 out soon to avoid more user issues..

[2015-07-16 10:45] mahagr commented on #578
Which was the menu type?

[2015-07-16 10:47] mahagr commented on #583
If I recall it right, there was JS error which caused state not changing.

[2015-07-16 10:56] sural98 commented on #578
It was a user-defined one: gallery
There were 5 menu items assigned to that.

[2015-07-16 11:17] kat05 commented on #583
Timestamp: 16/07/15 13:17:15
Error: TypeError: this.offcanvas is null
Source File: http://kat05.dev:8888/jo_ambrosia_demo/media/gantry5/assets/js/main.js?55a79268
Line: 425

[2015-07-16 11:21] kat05 commented on #579
i can confirm the fix, i am now getting a proper notification:

400 Bad Request
Oops, Failed to save /ambrosia: Menu Item must have a title..

[2015-07-16 11:25] mahagr commented on #579
Actually this one was not that bug. :) The fix for this is to save subtitle information, not to display error.

[2015-07-16 11:26] kat05 commented on #579
sorry, i commented on the wrong ticket. but the subtitles can now be edited without getting lost. :)

[2015-07-16 11:27] kat05 commented on #574
i am now getting a proper notification:

400 Bad Request
Oops, Failed to save /ambrosia: Menu Item must have a title..

[2015-07-16 11:57] kat05 commented on #489
i tried this in ambrosia which is using the horizontal menu particle at the top right and even when i change from 'Features' to 'FeaturesXXXX' in AMBROSIA-DEMO override and 'BASE OUTLINE' and 'AMBROSIA-DEFAULT' it WONT SHOW the change on frontend for me.

i also tried adding a NEW ITEM to all 3 outlines (base, demo, default) and it wont show up.

[2015-07-16 12:17] gospelpowered opened #584 "Menu target not properly written into joomla menu item"
Setting the menu target to new window in Joomla isn't working, nor is doing so via the Gantry menu. This means no menu item can be opened in a new window.

As discussed with @mahagr https://gitter.im/gantry/gantry5?at=55a79fc4e3990976317891cc

Thanks.

[2015-07-16 12:19] #584 closed

[2015-07-16 12:39] marktaylor46 commented on #489
Please note the issue seems to be specific to the horizmenu particle - regardless of what template that is in. e.g. ethereal has same issue too.

[2015-07-16 12:43] marktaylor46 commented on #552
Please note there is definitely still an issue with menu renaming. I had to do this for a member. I renamed menu item and it did not change in frontend or g5 menu manager. I can't pin in down, but I've seen it happen again and that was with 5.0.0 - I will try locally again on latest CI to try and narrow it down.

[2015-07-16 12:54] federone commented on #340
i think, for example to have a new tab, named "Global Settings" where we can add atoms .... which will be loaded on all pages ... like it is on default joomla templates, when you enable some params, it will be enabled on all pages ...

[2015-07-16 13:00] federone commented on #575
hi,

i think, for example to have a new tab, named "Global Settings" where we can add atoms .... which will be loaded on all pages ... like it is on default joomla templates, when you enable some params, it will be enabled on all pages ...

sometimes working on it, we get confused ... and i guess our customers will too ... and they will ask plenty questions ... and its a headache for us for giving

[2015-07-16 13:23] titro commented on #579
Fixed, thanks!

[2015-07-16 14:28] csbalazs commented on #574
@sam-sk I agree with you. This "feature" worked in RC3, but after I upgraded, I get the following error message "500 Internal Server Error - Oops, Menu Item must have a title.." when I want to change this menu item.

![image](https://cloud.githubusercontent.com/assets/1657924/8725990/ad79e6bc-2bd7-11e5-942e-bb98402d1152.png)

[2015-07-16 14:35] adi8i commented on #574
Haven't we talked this on gitter? You can fix this in `custom/config/menu`

[2015-07-16 16:50] w00fz commented on #574
I think we should allow empty titles even if Joomla prevents it. It's a nice feature to have and quite common, especially for Home, to just have the home icon.
Also other platforms might not be as restrictive as Joomla so a JS check would force this behavior on all of the platforms and I don't think it's good to have.

[2015-07-16 16:52] w00fz commented on #574
At the very least we should have a toggle that let you show/hide the title via Menu Editor

[2015-07-16 17:27] newkind commented on #581
These 2 unnecessary options in the dropdown are still present for WP

http://monosnap.com/image/3TglxY3zq20dDdI5bMB3Iz3rPSV5XI.png

[2015-07-16 18:42] mahagr commented on #566
This was not Gantry bug, but issue in the editor plugin which assigned home menu item to all articles.

[2015-07-16 18:42] #566 closed

[2015-07-16 19:02] w00fz commented on #581
You can see how i implemented it and fix it @newkind , at least you also get an idea on how this works.

[2015-07-16 19:28] #583 closed

[2015-07-16 19:54] #574 closed

[2015-07-16 19:55] w00fz commented on #574
This has now been changed a bit. Empty titles are not allowed anymore, like it was in the RCs, this is due to platforms requirements.
Although, we do now offer a way to hide the title, or rather, display only its Icon / Image.

![icon only](https://cloud.githubusercontent.com/assets/11734/8733684/ef2a8f80-2bb9-11e5-85a5-c889ddafa4ea.jpg)

[2015-07-16 20:08] mahagr commented on #407
I'm still not able to reproduce the issue on login. I don't think it has anything to do with Gantry, there must have been something else causing it.

Closing the issue, please be free to reopen it if there's new information.

[2015-07-16 20:08] #407 closed

[2015-07-16 20:22] #573 closed

[2015-07-16 22:43] ramon12 opened #585 "Administrator gliches"
There are some gliches, tested with joomla 3.4.3, gantry 5.0.0 and last CI, the gliches can be reproduce.

Resize browser or mobile view: Left padding should be as right, particles is going out of view (and the buttons should  have margin-buttom,is not good on touch)
![1](http://l3.picsurge.com/ZI8RpC/1.png)

Particle overlap layout
![2](http://l3.picsurge.com/ZI8RpC/2.png)
Broken particles view
!

[2015-07-16 22:47] w00fz commented on #585
I cannot see any of that, it's like you are missing a lot of JavaScript and CSS.
I see you are using `localhost`, can you try on a remote server? Also try `127.0.0.1` instead of `localhost` or create a proper local domain (ie, `gantry.dev`)

[2015-07-16 22:49] w00fz commented on #585
Also try to open the inspector, I am quite positive you are getting some errors reported in there.
This is definitely not how it looks like normally and also the first time I do see the admin broken like that.

[2015-07-16 22:52] ramon12 commented on #585
Tested even on host, the pics was taken on localhost, still have those

[2015-07-16 22:54] w00fz commented on #585
Can you give me access to the remote host by any chance? You can PM me on Gitter.

[2015-07-16 22:57] w00fz commented on #585
This is how I see the Menu for instance in both mobile and desktop:

## Mobile
![mobile](https://cloud.githubusercontent.com/assets/11734/8737048/219cd856-2bd3-11e5-9b99-409d963dd656.jpg)

## Desktop
![dekstop](https://cloud.githubusercontent.com/assets/11734/8737062/311c9816-2bd3-11e5-831e-f4331cfe31f7.jpg)

Same on different instances I have with both symbolically linked Gantry 5 and 5.0.0.

[2015-07-16 23:00] ramon12 commented on #585
Have you tried to resize browser window?

[2015-07-16 23:03] w00fz commented on #585
Yes like this: https://cloudup.com/cW4s2dzEwBZ
That's what you meant right?

[2015-07-17 01:40] w00fz commented on #585
Thanks for contacting me on Gitter @ramon12, all the issues you reported in here and on Gitter are now fixed!

[2015-07-17 01:40] #585 closed

[2015-07-17 06:01] DanGthatRokGallery commented on #225
It happened again mahagr -> http://www.rockettheme.com/forum/joomla-template-ambrosia/244909-runtime-exception

[2015-07-17 08:13] mahagr commented on #225
In the future I would prefer also having a new bug pointing to the old one once the version where it was fixed was released. :)

[2015-07-17 09:10] mahagr opened #586 "Wordpress: Menu items on 3rd level not showing up"

[2015-07-17 09:11] mahagr opened #587 "WordPress: Implement menu synching between platform and Gantry"

[2015-07-17 09:25] mahagr commented on #515
Should be fixed in aef6d9e

[2015-07-17 09:25] #515 closed

[2015-07-17 09:31] #581 closed

[2015-07-17 09:35] kat05 commented on #515
i can confirm that this header error is fixed, using php 5.6
as mentioned on hipchat there is a different error still happening with php 5.5.
anyways, this one is confirmed as fixed. :)

[2015-07-17 09:52] kat05 opened #588 "Wordpress - 404 Not Found Oops, Outline not found."
Using a WP install with Gantry and Callisto hebe linked.

in the 'Outlines' screen i did the following:

1. Hit the 'Duplicate' icon on the 'Home' outline
2. Rename the Duplicate to 'My Home' by using the LITTLE pencil icon next the outline name.
3. Hit the BLUE pencil icon 'Edit' and the error shows.

404 Not Found
Oops, Outline not found.

When I do it the exact same way in Joomla, I do not get

[2015-07-17 10:14] mahagr commented on #492
Update on this. After talking with @alisamii it looks like the issue is Joomla failing to unzip some files from the archive but not detecting the issue.

Issue can be avoided by unzipping the package to server and running install from the directory. I bet that the issue gets also fixed by locally unzipping and zipping the package before installation.

I've seen the issue numerous times in Kunena w

[2015-07-17 10:42] kat05 opened #589 "Wordpress - Whoops \ Exception \ ErrorException (E_WARNING) in Menu editor when no menu is present"
Trying to open the G5 Menu editor will throw an error if there is no menu set up in WordPress.

Whoops \ Exception \ ErrorException (E_WARNING)
in_array() expects parameter 2 to be array, null given
Open: /Applications/MAMP/htdocs/gantry5/git/gantry5/src/classes/Gantry/Component/Menu/AbstractMenu.php

Please see pic.

![g5_wp_nomenu](https://cloud.githubusercontent.com/assets/5719486/8745543/40cf1

[2015-07-17 11:03] mahagr opened #590 "WordPress: Add global configuration for the plugin"
We need a global plugin configuration containing the following variables:

    production: 0/1, needed to detect if production mode has been detected
    debug: 0/1, needed to enable debug mode

In Joomla there is also 2 variables for asset timestamps, but in WP those get added by WP itself.

After that we need to add logic to read and write those variables.

[2015-07-17 11:11] kat05 opened #591 "WordPress - Developer/Production toggle broken"
At first I saw the word 'Development' and used the toggle. That changed it to 'Production'.

When I now keep using the toggle, it will always say 'Production' no matter which way the toggle is set.

Also, the purple message, will always say 'Production mode enabled', it will never mention 'Development'.

![g5_wp_production](https://cloud.githubusercontent.com/assets/5719486/8745993/54185eba-2c85-1

[2015-07-17 12:07] mahagr opened #592 "WordPress: Fatal error in frontend when there's no selected menu in menu particle"
Exception thrown in /home/matias/phpstorm/rockettheme/gantry5/src/classes/Gantry/Component/Menu/AbstractMenu.php line 116:

"Menu not found"

[2015-07-17 13:01] pdubois95 commented on #489
I've just hit this exact bug.  Where are the menu items stored in this particle?

[2015-07-17 15:41] mahagr commented on #515
I believe that we already solved twig caching issue which was your 5.5 issue?

[2015-07-17 15:41] mahagr commented on #588
Thanks, I forgot to add issue on implementing missing bits on this page.

[2015-07-17 15:43] mahagr commented on #589
Same as #592.

[2015-07-17 15:44] mahagr commented on #591
Same as #590.

[2015-07-17 15:47] mahagr commented on #489
I think the only way to currently work around this issue is to override all the settings (with different value than default) in the same level. Really need to fix this bug in the next version...

[2015-07-17 20:18] pdubois95 commented on #489
Editing the file './config/default/particles/horizontalmenu.yaml' directly appears to work.  These modifications do not appear in the control panel however.

[2015-07-17 21:57] adi8i opened #593 "Checkbox is not working in scss"
You can't add a default value in scss for checkbox.

[2015-07-18 12:29] newkind opened #594 "Gantry doesn't load WordPress Nucleus"
Gantry core doesn't load WordPress nucleus css files.

[2015-07-18 14:38] marktaylor46 opened #595 "Changing menu item alias results in order change in g5 menu manager"
When you change the alias of a menu item in joomla menu manager then when you return to G5 menu manager the menu item will have been moved (order) to the last in the menu

e.g menu/alias
1/a 2/b 3/c 4/d showing in joomla menu manager and g5 menu manager
change alias of menu item 2 from b to xxx and when you return to g5 menu manger you will see
1/a 3/c 4/d 2/xxx
Since the menu item ID's have not c

[2015-07-18 16:07] arivera12 opened #596 "JQuery seems loaded correctly but when executing a script throws an error that jquery is not defined..."
This is the script that doesn't work.... and its ok written I just want to hide the title for the home page
<script type="text/javascript">
   JQuery(document).ready(function() {
      JQuery(".page-header").hide();
});
</script>
Here is JQuery loaded correctly and there is no console error...
![screen shot 2015-07-18 at 8 03 07 am](https://cloud.githubusercontent.com/assets/5600102/8762370/3045e0

[2015-07-18 16:22] w00fz commented on #596
Your test should be `jQuery` not `JQuery`
[code]

[2015-07-18 16:26] arivera12 commented on #596
My bad... I always user the dollar sign why I can't use it here?

[2015-07-18 16:34] w00fz commented on #596
It's never a good idea to use the `$` sign actually, when other js are loading they may be using `$` as well and your script would be referencing the wrong one.
You can always write your script in an anonymous function to use `$`, ie:

[code]

// Djamil Legato // From iPhone //

[2015-07-18 16:40] arivera12 commented on #596
All my scripts uses the $ sign... But that's ok I will just search and replace them and thanks for that note I thought that jquery was the only framework that uses the $ sign...

[2015-07-18 16:40] #596 closed

[2015-07-18 18:41] alisamii opened #597 "Component menu item dropdown"
It would be nice to be able to access the configuration of a theme directly from the component menu.

In the mockup below, when you over over the **Gantry 5 Themes** menu item in the admin's components menu, a drop-down list of installed themes is displayed. Click on a theme bypasses the Gantry 5 cPanel page and takes you directly into the configuration page of the theme.

The installed themes cou

[2015-07-18 20:40] w00fz commented on #597
I second this one, would make it the quickest way to access a theme. As it is now, passing through either template manager or component menu and landing page, it takes 2 loads and two clicks.
With the suggested idea it's 1 load, one click.

// Djamil Legato // From iPhone //

[2015-07-19 06:03] gospelpowered opened #598 "'&' symbol in external menu item not outputting properly"
Hey, i think this might be a bug but not sure if it's a gantry thing.

When i put in an external URL on the frontend menu it renders it wrongly, i'm specifically referring to the & symbol. So a link like:

https://domain.com/cart.php?a=add&domain=register

Gets output as this on the menu:

https://domain.com/cart.php?a=add&amp;domain=register

So then the link doesn't work.

Is this something you

[2015-07-19 12:12] nkorop opened #599 "Operation timed out error accessing sites with Hydrogen & Gantry 5"
Unfortunately the issue still exists after upgrade to last Hydrogen and Gantry 5.

The error message is "Operation timed out after 10162 milliseconds with 0 out of -1 bytes received" and the ms have different value.

Any idea how to solve it?

Example of site with this problem: www.elefsina.info

[2015-07-19 18:39] w00fz commented on #599
If you go in G5 admin and select the Base Outline, do you get any error when you `Compile CSS` from the `Styles` tab?

[2015-07-19 18:42] w00fz commented on #598
The link you put in is via Joomla Menu Manager or G5 Menu Editor?

[2015-07-19 19:00] w00fz commented on #598
I tried creating an External URL Menu Item in Joomla with URL `index.php?hello&world=foobar` and on frontend it did render normally.
I know Joomla does convert to `&amp;` when the `&` is in content, although mine seems to be working fine.
What are your SEO settings? Also are you using the Joomla `.htaccess`?

[2015-07-20 06:04] nkorop commented on #599
I did Compile CSS and there was no error...
I made a search on google and the error has connection to curl... but I have problem only on sites with Hydrogen template and Gantry 5. The other sites with different template never caused any problem.

[2015-07-20 06:51] mahagr commented on #595
I thought that it's already working (as long as you do not change id); I need to check this out and look what's failing.

[2015-07-20 06:54] mahagr commented on #597
The main issue here is how Joomla stores those menu items. They are stored in database and all the items will be deleted every time you update component. After that Joomla will load the new items from manifest file.

I think it will be doable, but needs some hacking during the installation.

[2015-07-20 06:56] mahagr commented on #598
@gospelpowered Can you check the source code if menu item url is double escaped?

[2015-07-20 07:05] mahagr commented on #599
We aren't using curl anywhere, so it cannot be it. What I did last time as to extend PHP timeout every time a CSS file gets compiled. There are 3 options why it's not working:

* Function set_time_limit() has no effect when PHP is running in safe mode. There is no workaround other than turning off safe mode or changing the time limit in the php.ini.
* Apache is configured to stop execution after 1

[2015-07-20 07:12] nkorop commented on #599
@mahagr ok. I am waiting to you on Gitter chat...

[2015-07-20 07:30] #594 closed

[2015-07-20 08:18] nkorop commented on #599
Together with @mahagr we worked on this issue (Thank you!)
ok... so... the issue was a module {JB:Social Share}. I have disabled it and site is working faster and no errors for the moment...

So the case is closed and thank you for your time and help!

[2015-07-20 08:18] #599 closed

[2015-07-20 09:01] gospelpowered commented on #598
I am using .htaccess.

Looking at the source code i see this, which is strange:

https://domain.com/cart.php?a=add&amp;amp;domain=register

When i hover over the link i see:

https://domain.com/cart.php?a=add&amp;domain=register

Thanks

[2015-07-20 09:02] mahagr opened #600 "Use more strict Template ACL from Joomla 3.4.2+"
See https://github.com/joomla/cms-security/issues/14 and https://github.com/joomla/cms-security/pull/15 for details.

[2015-07-20 09:11] mahagr commented on #598
We changed the escaping a bit, this might be result of that. Will check it out.

[2015-07-20 09:19] adi8i commented on #451
You don't have to place an atom for each script you want to load, you can create a new item instead
http://www.adriandev.com/images/Gantry/gantry5-atom-settings.jpg

[2015-07-20 10:29] kat05 opened #601 "WordPress - duplicating system outlines does not work"
In Joomla, when going to Outlines and hitting the 'Duplicate' button for example on the system outline  'Body Only', will add a duplicate to the outline.

In WordPress, this does not work, it looks like nothing happens.

[2015-07-20 10:39] newkind opened #602 "We need a gantry.theme.wordpress variable set when page isn't 100% made of particles"
Just like in Joomla, we need a gantry.theme.wordpress variable to be set to true if the page contains WordPress content and is not 100% made out of particles. This is to enable loading wordpress.css from WordPress nucleus.

[2015-07-20 11:52] kat05 opened #603 "Administrator responsive issues in Settings Panel"
Please see pic.

Confirmed in WordPress and Joomla too.

![g5_admin_resp](https://cloud.githubusercontent.com/assets/5719486/8775223/7de88b6c-2ee6-11e5-9ff5-e0712e9f987d.png)

[2015-07-20 12:09] kat05 commented on #556
Ok, so today I am doing testing on WP and ran into this issue again on a WP core install with Gantry hebe linked.

I've been playing on this install a bit already but can kind of recall what I did before this happened, which is no guarantee that it is a solid way to trigger this issue.

Anyways, I have my own Outline called 'Testing' which is a duplicate of the Home outline.
This outline is assign

[2015-07-20 12:15] kat05 opened #604 "WordPress - Can't pick any widget in 'Widget Instance' particle"
I've dragged a 'Widget Instance' into my layout and then hit the Gear icon.

It correctly opened a popup with a button to 'Pick a Widget'.

I clicked on it, another popup opened which was titled 'Pick a Module' (Joomla?) and there was nothing there that I could select.

![g5_wp_widgetinstance](https://cloud.githubusercontent.com/assets/5719486/8775573/bd9a9432-2ee9-11e5-98e5-8953f7667561.png)

[2015-07-20 15:04] mahagr commented on #601
None of the actions in that screen works yet.

[2015-07-20 15:06] mahagr commented on #604
I'm just implementing this feature in separate branch. :)

[2015-07-20 15:17] kat05 opened #605 "WordPress - Duplicating Outlines does not load the used Layout"
In WordPress using Callisto for example, i duplicate the 'Callisto - Home' outline which is using the 'Home' layout. The Duplicate gets automatically named 'Callisto - Home (2)'. When I then check the Layout tab of this new outline, it says: Layout (Unknown) - No layout specified!

In Joomla, when I do the same thing, the 'Home' layout gets automatically added to the duplicated outline, there is n

[2015-07-20 15:41] marktaylor46 commented on #516
link to members's site is http://www.eeco.it/NEW4/

Forum topic is http://www.rockettheme.com/forum/joomla-template-callisto/244073-twig-error-runtime?start=0#1219521

[2015-07-20 16:11] arivera12 opened #606 "Remove or comment jquery.noconflict()"
I have tons on plugins that uses the $ sign. I went to the folder /media/jui/js/jquery-noconflict.js and commented the jQuery.noConflict(); and also deleted my browsing data, cache and everything, but jQuery.noConflict(); is not commented... What I am doing wrong?
Here I commented the jQuery.noConflict();
![screen shot 2015-07-20 at 8 10 15 am](https://cloud.githubusercontent.com/assets/5600102/87

[2015-07-20 16:22] kat05 opened #607 "WordPress - Assigning Outline B does not remove Assignments in Outline A"
When you create a new Outline and assign it to certain pages, any other Outlines that were assigned to those pages, should get unassigned automatically.

This is currently not yet happening in WordPress and you can actually have several different outlines using the same assignment settings.

[2015-07-20 16:25] mahagr commented on #605
Not implemented yet. Thanks for the reminder.

[2015-07-20 16:32] mahagr commented on #607
Good catch. Though I'm not sure if we should do that as WP assignments are different from Joomlas. Basically you can have multiple assignments and combinations of assignments with different priorities, which will then be calculated to get final score.

So basically you could have assigned outline A to all blog post in category X, but then you could have another higher priority outline for some pag

[2015-07-20 17:18] w00fz commented on #606
Maybe you have other plugins loading providing the same file? I would do a search in the whole Joomla instance. When you hover over the `jquery-noconflict.js` in the inspector, it should tell you the exact location.
Gantry5 and Hydrogen do not use nor provide jQuery so I doubt this has anything to do with Gantry5.

[2015-07-20 18:17] kat05 opened #608 "WordPress - Assignments don't seem to work at all"
I have a 'Home' outline which is NOT assigned anywhere and it's using Preset 4.
I also have a 'Testing' outline which is assigned to ALL pages and it's using Preset Preset 8.

For the life of me, on the frontend all I see is Preset 4. This is just an example, any other settings i have in the 'Testing' outline do not show on frontend either. Everything seems to come from 'Home' outline.

[2015-07-20 18:33] kat05 opened #609 "WordPress - Improve frontend message for when Timber is not activated"
When you don't have Timber running, all you see on frontend is:

If possible, this message should be improved and actually mention Timber maybe?

[2015-07-20 18:40] rhukster commented on #609
I agree we should definitely have information specifically about Timber

[2015-07-20 18:40] newkind commented on #609
The thing is that this notice is not only for the Timber missing issue, but all other stuff also. If Timber is missing, we have a notice in the admin with click-to-install link.

[2015-07-20 18:50] kat05 opened #610 "WordPress - Home menu item not responding ?"
I have an Audacity RocketLauncher and hebe linked Callisto and Gantry.

In the Callisto settings i selected to display the Main-Menu on frontend and it shows fine.

I can browse to different pages such as
.../features-overview/
.../typography/
.../the-team/
etc by using the menu links.

However, when I click the 'Home' menu item, nothing happens, I am just stuck on the page I am on.

[2015-07-21 08:16] mahagr commented on #516
The issue for the user went away by enabling production mode. This time the issue was obtaining write link for the SCSS cache file, which contains meta information from the files which were used to get the final CSS.

[2015-07-21 08:18] mahagr commented on #606
I agree that it has nothing to do with Gantry 5 -- it's Joomla that loads that file. Check also that there's nothing loading Mootools, as it's the likely cause of enabling the feature.

[2015-07-21 08:24] mahagr commented on #609
I have to disagree here, if you're on production site, you really do not want to give any extra information about the internal state of the site. As the error message suggests, logging into admin will tell you what is wrong -- actually you should already seen the message when you enabled the theme.

[2015-07-21 11:47] newkind opened #612 "Layout Manager should display widget type (and title) instead of Widget Instance"
![hydrogen theme e2 80 b9 gantry5 wordpress e2 80 94 wordpress 2015-07-21 13-42-45](https://cloud.githubusercontent.com/assets/1641534/8799971/e52b90d0-2fae-11e5-8983-b8a4389ec18d.png)

Layout Manger should display widget type + widget title instead of the "Widget Instance" label. We need the widget title as if user will have multiple widgets of the same type (ie. Text Widget) next to each other,

[2015-07-21 12:31] #444 closed

[2015-07-21 12:45] mahagr commented on #604
Should be fixed now.

[2015-07-21 12:45] #604 closed

[2015-07-21 13:52] kat05 commented on #604
confirmed

[2015-07-21 14:02] kat05 opened #613 "WordPress - resetting widget selection with x icon does not work"
I've added a new Widget to my layout and picked the calendar particle and saved.
It shows fine on frontend.

Now when I try to reset the Widget selection using the little round x icon that appears when i hover on the 'Edit Widget' button, nothing happens.

[2015-07-21 14:27] mahagr commented on #613
If you noticed, also editing looses all data. Both are issues I was going to talk with @w00fz tonight. :)

[2015-07-21 14:54] marktaylor46 commented on #489
Another member with same issue here http://www.rockettheme.com/forum/joomla-template-ambrosia/244875-ambrosia-slideshow-and-logo?start=10#1219894

[2015-07-21 15:22] kat05 opened #614 "WordPress - blog pagination displays vertically"
This is an Audacity RL using Hydrogen, the pagination displays vertically.

This probably is happening with the club themes, Callisto etc. too and needs a fix.

Please see pic.

![g5_wp_pagination](https://cloud.githubusercontent.com/assets/5719486/8804560/12deab34-2fcd-11e5-9306-60703f9ee1c7.png)

[2015-07-21 15:28] newkind commented on #614
This is hydrogen, and it's like that because there's no styling for pagination yet ;)

[2015-07-21 15:37] pdubois95 commented on #489
So, from the perspective of someone who is not familiar with Gantry specifically - It looks like the new configuration for this particle is not being replicated properly.

The file that is being modified :
./custom/config/10/layout.yaml

The file that apparently also needs to be modified :
./config/default/particles/horizontalmenu.yaml

What mechanism should this particle be using to ensure both f

[2015-07-21 15:49] marktaylor46 commented on #489
@maghr is aware what the issue is it is to do with "nested structures" - he will get to it in due course.

[2015-07-21 15:59] pdubois95 commented on #489
Indeed, but I need this patched soon and from what I see this ticket has been open for a month already.  If I can help out I'd like to.

[2015-07-21 16:12] kat05 opened #615 "WordPress - Changes in Base Outline not reflecting in other outlines"
using Hydrogen with
Base Outline
Hydrogen - Default and
Hydrogen - Home

In Joomla, when I change a setting in the Base Outline, for example i disable the Menu particle in the settings panel and save, then the change will also be applied automatically to the other 2 outlines.

In WordPress, when I disable the Menu particle in Base Outline in the settings panel and save, this does not disable it in

[2015-07-21 16:58] arivera12 commented on #606
Ok I am still looking for removing that I will let you know when fixing this issue for me and come with the solution...

[2015-07-21 17:15] kat05 opened #616 "WordPress - tooltip for Read More button - Display Mode runs off screen"
In the Content panel, there is a setting for Read More button - Display Mode
If you hover on the setting, the tooltip opens, but it is very long and the end of it runs off the screen (I am on 15")

[2015-07-21 17:47] #602 closed

[2015-07-21 18:00] newkind opened #617 "Widgets as particles need to load proper classes and ID"
This is a reminder ticket. Widgets on the frontend should have proper classes and unique id based on the widget name.

[2015-07-21 18:36] w00fz commented on #612
You can edit it yourself when you create a new widget. It's the pencil.
Works the same for Joomla Module Instance and particles, positions, etc.

[2015-07-21 18:37] #613 closed

[2015-07-21 18:52] #479 closed

[2015-07-21 19:12] arivera12 opened #618 "RuntimeException: Cannot override frozen service configuration executing a query..."
A got a query that was already working, now the page throws an exception when executing that query...
What could be wrong?

This is the stack trace...
[code]

This is the query

[code]

Here is the error throw ^

[2015-07-21 19:20] #610 closed

[2015-07-21 19:26] kat05 commented on #610
fix confirmed! :)

[2015-07-21 19:29] mahagr commented on #618
Are you getting exception from the query? We had backwards incompatible change in error page (RC something) because of the old version didn't quite work. Check that you have the latest template and if you have created your custom one, compare the Joomla php entry files (index.php, error.php etc) against the latest ones.

[2015-07-21 19:36] mahagr commented on #612
I think he meant to do it automatically. :) In Joomla module instance works just like that already (first time only).

[2015-07-21 19:39] arivera12 commented on #618
Yes the exception comes from the query I have Version: 5.0.1 / Released: July 16, 2015. I have the hydrogen theme installed and also updated with latest version...

[2015-07-22 02:56] sarazimmo commented on #527
For others who want to know where to go,

Go to Menus >> Menu Managers. You'll see Hydrogen Theme in the list, and when you click on it, you'll see that Home is being defaulted.

What you do, is go back, and look for Main Menu (this is still under Menus >> Menu Managers), click on it, and then click Home as default.

That should solve the problem.

[2015-07-22 07:38] mahagr commented on #618
Can you try adding following code to index.php inside the theme, just after line 20:

    // Reset used outline configuration.
    unset($gantry['configuration']);

Let me know what happens. That is not the real fix as it may have some unwanted side effects.

Do you have some extension that allows you to change template styles?

[2015-07-22 08:05] lokomotivan opened #619 "Block Variation"
Dont know is this a right place to write a sugestion but i think the block variations are bad solution. I think its better to match heights of the blocks child elements and add custom classes to child element rather then blocks. With block variations, we are actualy adding style to module position it self, so every module published in that position will look the same. We can still use joomla modui

[2015-07-22 08:07] #586 closed

[2015-07-22 08:21] marktaylor46 commented on #489
Another member with same issue [url]http://www.rockettheme.com/forum/joomla-template-ambrosia/244876-can-t-save-the-change-on-the-template?start=20#1220070[/url]

[2015-07-22 08:53] Bullnados opened #620 "Error Gantry 5 Themes: Please enable 'System - Gantry 5 Framework' plugin!"
I got that message after the installation of Gantry 5.0.1 for joomla in Components-Gantry Themes
Also I go to Extensions-Plugins disabled and enabled "System - Gantry 5". And than no error shown in Components-Gantry Themes

Joomla! 3.4.3

[2015-07-22 11:00] #605 closed

[2015-07-22 11:26] mahagr commented on #601
Duplicating should now work.

[2015-07-22 11:26] #601 closed

[2015-07-22 11:32] newkind commented on #607
Yah, Matias is right. In WP you should be able to have multiple outlines assigned to the same items.

[2015-07-22 12:03] newkind opened #621 "Widget Positions and Widget in Theme Settings should be hidden"
There's no point of having "Widget Poisitions" and "Widget" cards in Theme Settings, as they should be enabled at all times. Also the default values can or "Pick a Widget" button can be very confusing and misleading.
![hydrogen theme gantry5 wordpress wordpress 2015-07-22 14-02-40](https://cloud.githubusercontent.com/assets/1641534/8824899/75e45bcc-307a-11e5-8d28-19bbe1a5d905.jpg)

[2015-07-22 12:50] mahagr commented on #588
@w00fz Some Javascript changes are needed; I'm now passing id and outline variables with the request. The first one is the div id to be replaced and the second contains html.

As id of the div changes, you need to target the parent tag in order to add the html.

[2015-07-22 14:22] DanGthatRokGallery opened #622 "In Ambrosia our RokSprocket attempts to open image files outside of the webroot as defined in open_basedir"
Our Ambrosia  theme is referencing a RokSprocket called image outside the webroot.

E.g.
/home/some-site/public_html/templates/rt_ambrosia/../../../images/rocketlauncher/home/slideshow/img-01-preset1.jpg

This causes an exception to be thrown if php.ini's open_basedir directive has been configured to prevent access outside webroot.

This is happening at:
http://www.rockettheme.com/forum/joomla-tem

[2015-07-22 15:05] kat05 opened #623 "WordPress - data gets wiped out when editing Text Widget"
I've added a new Widget to my layout and selected the Text Widget.

I gave it a title and some text, then hit 'Apply' and then 'Apply and Save'

Refreshed the frontend and everything showed up fine.

Then I went back into the widget and decided to hit the 'Edit Widget' button. All of my data (title and text) i had previously entered was wiped out.

[2015-07-22 15:29] marktaylor46 opened #624 "Anchor links should not be modified"
If you have a link such as this in an html particle:

    <a href="#" alt="" rel="nofollow">test link</a>

Then when the page is rendered the link has been changed to:

<a href="/" alt="" rel="nofollow">test link</a>

of if you're in a subfolder:

<a href="/subfolder/" alt="" rel="nofollow">test link</a>

Also on some member sites the link are also being changed to fullpath urls too which is also

[2015-07-22 17:19] kat05 commented on #601
fix confirmed! :+1:

[2015-07-22 17:37] kat05 opened #625 "WordPress - 400 Bad Request - Oops, Outline 'Untitled' already exists.."
In the Outline panel in Joomla, you can hit the blue + icon several times in a row and each time a new Untitled outline will get added, all of them simply titled 'Untitled' but each one gets a new ID (which is fine)

In the Outline panel in WordPress, you can hit the blue + icon once and a new outline called 'Untitled' will be added. If you want to create a 2nd new outline, you get the following:

[2015-07-22 17:45] kat05 commented on #625
actually, i see where this is coming from.
In Joomla, the outline ID is a unique number.
In WordPress, the outline ID is just text.

There are several issues with the ID being text, it does not update immediately when you rename the outline title itself, which is causing other issues. Can we use ID numbers in WP to avoid those?

[2015-07-22 17:54] kat05 commented on #605
fix confirmed :+1:

[2015-07-22 17:56] kat05 commented on #613
resetting with x, so that's confirmed. got another ticket for the data loss which is still open.

[2015-07-22 18:02] kat05 opened #626 "WordPress - 404 Not Found - Oops, Menu not found."
Even with a menu created and set in the Settings tab, the Menu editor will return above error.

[2015-07-22 19:15] newkind opened #627 "Add PHP regex functions as Twig extensions - preg_match, preg_replace etc."
Add PHP regex functions as Twig extensions - preg_match, preg_replace etc.

[2015-07-22 19:18] rhukster commented on #627
What do you need these for?

[2015-07-22 19:20] newkind commented on #627
In example detection of  and  tags in post content, when user sets custom Read More label. This would also help with other stuff as Timber isn't ideal in all cases.

[2015-07-22 20:18] #603 closed

[2015-07-22 20:23] newkind commented on #627
Fixed

[2015-07-22 20:23] #627 closed

[2015-07-23 06:51] mahagr commented on #619
@kevlardev I think this one is for you. :)

[2015-07-23 06:58] mahagr commented on #620
So all good then! Installer should enable this plugin by default, so I'm not sure why it wasn't doing that.

Did you just install the package?

[2015-07-23 07:03] mahagr commented on #622
I have already fixed ../ references in https://github.com/gantry/gantry5/commit/234bd898753cc7c94c6360a44159b61cbf8fdbce

[2015-07-23 07:11] Bullnados commented on #620
Yes the one: joomla-pkg_gantry5_v5.0.1.zip. I tried it some times. I have Installed gantry 4 before. than Gantry 5. Removed gantry 4 and than Gantry5 but problem still exists

[2015-07-23 07:15] #624 closed

[2015-07-23 07:16] mahagr commented on #620
Should not matter what you have been installing before or after. Did you get any error message during installation process?

[2015-07-23 07:20] Bullnados commented on #620
Mmmh i think not otherwise i would have searched the install error message

[2015-07-23 07:49] #598 closed

[2015-07-23 08:31] marktaylor46 opened #628 "Remove layout tab from base outline"
As confirmed by @mahgr the layout for the base outline is not used anywhere (at the moment).

I suggest removing the layout tab from base outline for now (as we do with the assignments tab) since it just leads to confusion when people change things on the layout and they have no effect anywhere on the site.

[2015-07-23 08:34] marktaylor46 opened #629 "Stop using IDs on menu items for menu particle"
Menu items are having an ID of the menu item ID added to each LI. They also have a class of the same constant added.

Why is this an issue? Well if you add a menu particle in (say) the footer for the same menu as in the header then you get markup error on W3C validator because of duplicate use of same ID.

I think it is sufficient to just use the class - I don't believe we need to add ID as well.

[2015-07-23 08:40] mahagr commented on #629
@kevlardev @w00fz Is the id being used anywhere? I agree that it should go away if we have no use for it (targetting works with classes too).

[2015-07-23 08:51] JoomFX commented on #628
@mahagr just a reference so you can recall what we discussed a while ago - https://github.com/gantry/gantry5/issues/461

[2015-07-23 08:58] marktaylor46 commented on #620
Please see these two posts from forum
http://www.rockettheme.com/forum/joomla-template-callisto/242021-please-install-gantry-5-framework-before-installing-callisto-template?start=0#1203414
http://www.rockettheme.com/forum/joomla-template-ambrosia-solved-threads/244217-solved-error-please-install-gantry-5-framework?start=0#1215061

I have not seen the issues myself though.

Regards, Mark.

[2015-07-23 09:04] marktaylor46 commented on #628
Thanks - I didn't know about the other issue. Right now I really think the tab should be removed because it is creating a lot of confusion. I know we need it going forward so we can re-enable it when we get it working - but as it does nothing right now it should be removed.

[2015-07-23 09:05] JoomFX commented on #628
@marktaylor46 yep, I agree with you :)

[2015-07-23 09:13] #626 closed

[2015-07-23 09:58] newkind opened #630 "Placing widgets in positions on the Widgets page doesn't render them on frontend"
Placing widgets in positions in the widgets page has no impact on front end rendering

[2015-07-23 09:59] marktaylor46 opened #631 "Gantry update message showing when there is no update"
The Gantry 5 update message is showing on member site even when there is no update showing in Joomla updater. If you "purge cache" is Joomla updater then the message is removed from Gantry 5 theme. However, as soon as you log out and then log back in again the message has returned.

http://www.rockettheme.com/forum/gantry5-for-joomla/245167-update-message-still-displayed-after-the-update?start=0#1

[2015-07-23 10:00] #590 closed

[2015-07-23 10:01] mahagr commented on #591
Fixed in ce2fa4f

[2015-07-23 10:01] #591 closed

[2015-07-23 10:39] marktaylor46 opened #632 "Trying to get property of non-object when accessing page without menu item"
Best explained through example (I reproduced this on callisto)

Assign a standard Joomla "search" module to a module position particle anywhere on the layout.,

The search module is rendered ok - but as soon as you key in a search value and press enter then you get an exception thrown.

![2015-07-23_11-38-16](https://cloud.githubusercontent.com/assets/11683218/8848454/5fe61e0e-312f-11e5-814a-fcb3d

[2015-07-23 11:11] mahagr commented on #589
Fixed in #626

[2015-07-23 11:11] #589 closed

[2015-07-23 11:14] newkind commented on #617
Fixed in 82db998

[2015-07-23 11:14] #617 closed

[2015-07-23 11:24] mahagr opened #633 "WordPress: Make dropdown field from widget chrome option"

[2015-07-23 11:47] mahagr commented on #628
I know, I've now changed my mind on this on heavy mental pressure. :)

I was hoping that we already had the feature that was missing (it's one of the most important missing features), but it may take a couple of weeks to get it in.

[2015-07-23 11:49] #628 closed

[2015-07-23 11:58] #632 closed

[2015-07-23 12:02] mahagr commented on #632
Was actually from accessing menu item without itemid, but fixed it nonetheless.

[2015-07-23 12:07] kat05 commented on #626
fix confirmed!

[2015-07-23 12:42] newkind opened #634 "Ability to assign outline per WP language"
Ability to assign outline per WP language

[2015-07-23 12:44] newkind commented on #614
Fixed in 0e8d266

[2015-07-23 12:44] #614 closed

[2015-07-23 13:02] #616 closed

[2015-07-23 13:59] mahagr commented on #630
Still missing chrome.

[2015-07-23 14:33] kat05 opened #635 "WordPress - little grammar thing for Layout note in Base outline"
It says:

the word 'yet' suggests, that there will be one later on. It should be changed to:

[2015-07-23 14:38] kat05 opened #636 "WordPress - Multicolumn menu not working (?)"
Please see pic with my settings for the 'Features' item. The child items are distributed in 3 columns.

However, on frontend this does not work, I am not 100% sure I got my settings all right but it's not working.

![g5_wp_features2](https://cloud.githubusercontent.com/assets/5719486/8853065/3faf142c-3159-11e5-9df0-278123c3d92d.png)
![g5_wp_features](https://cloud.githubusercontent.com/assets/5719

[2015-07-23 14:39] marktaylor46 opened #637 "particle titles can run over each other in layout manager and look a bit ugly"
Might be better to just truncate them when they exceed particle width rather than have them run into each other.

![2015-07-23_15-36-56](https://cloud.githubusercontent.com/assets/11683218/8853091/ffc56918-3150-11e5-9b3c-48eb8d4943a0.png)

[2015-07-23 15:03] kat05 commented on #636
ok, I see that when i visit the 'Features' menu item settings in the menu editor again, then all child items are located in the first column. So somehow the previously saved settings got reverted somehow which explains why it does not show correctly on frontend.

[2015-07-23 15:09] kat05 opened #638 "WordPress - Adding widget to the menu fails"
All I did was drag a 'widget' to the menu, please see pic.

![g5_wp_405](https://cloud.githubusercontent.com/assets/5719486/8853948/913cafbc-315d-11e5-9100-c2c3088ccd11.png)

[2015-07-23 15:09] marktaylor46 opened #639 "Suggestion: have a debug mode that renders particle IDs and module IDs"
Just a suggestion. Members often ask where and what X is on the page. If we had a debug mode toggle in Gantry 5 we could use that to render classes in the front end such as "particle-type-id" and "module-type-ID" in the output to make is easier to understand the source of page content

[2015-07-23 15:12] kat05 opened #640 "WordPress - 500 Internal Server Error - Oops, Widget 'date' not found."
In the menu editor, I dragged a 'widget' into my menu.

The popup to pick a widget opened, I selected 'date' but then got this error, please see pic.

![g5_wp_500](https://cloud.githubusercontent.com/assets/5719486/8854018/f5657f0a-315d-11e5-9b5a-ce2ce6b64ff8.png)

[2015-07-23 15:13] mahagr commented on #635
@newkind Do you mind recompiling language files again?

[2015-07-23 15:14] mahagr commented on #640
Good to have issue on this -- I'm still working on widgets and I've not got that far yet. :)

[2015-07-23 15:15] mahagr commented on #637
@w00fz What do you think?

[2015-07-23 15:16] marktaylor46 opened #641 "Suggestion: add outline ID in outline dropdown"
When debugging it's easier to determine which outline is being using in front-end as it is rendered on the body tag. However, when you want to figure out which ID that is you have to go out of Gantry 5 theme and to template manager (which is only place where template ID is shown). Therefore I suggest this ID be added to the outline drop-down so it's easier to identify the outline from within Gantr

[2015-07-23 15:24] marktaylor46 opened #642 "Suggestion: recompile SCSS from frontend when changes detected"
As discussed with @mahagr turn off recompile SCSS from base outline (for all outlines) in backend to speed things up and instead recompile SCSS (for outline being used) in frontend when changes are detected in SCSS.

[2015-07-23 15:26] mahagr commented on #635
Actually we are going to change this. So no need to change the string..

[2015-07-23 15:26] #635 closed

[2015-07-23 15:35] kat05 opened #643 "WordPress - CI build fontawesome issue"
I have a Chimera RocketLauncher and added Gantry 5 and Hydrogen CI builds to it. vdev-b905e62ff

The fontawesome icons don't load. I do not have this issue on my other installs which are hebe linked.

![g5_wp_fontawesome](https://cloud.githubusercontent.com/assets/5719486/8854641/2c7c0a42-3161-11e5-9487-e4ecf6abd67e.png)

[2015-07-23 15:40] mahagr commented on #638
Yup, still working on widgets ;) Thanks for reminder, though.

[2015-07-23 15:56] kat05 opened #644 "WordPress - Make sure that 'Widgets' shows in left sidebar for G5 club themes"
As mentioned on Hipchat the other day, with Hydrogen the > Appearance > Widgets item in the sidebar shows up fine, for Callisto it is currently hidden/removed but needs to be available. Same for Ethereal and Ambrosia.

[2015-07-23 16:41] #637 closed

[2015-07-23 18:49] #630 closed

[2015-07-23 21:32] imchrissy opened #645 "Page.php References Undefined $menuItem"
A patch that seems to have addressed the problem.

[code]

[2015-07-24 07:20] mahagr commented on #645
Thanks a lot from the proposal. Fortunately this has already been fixed in the latest CI builds, please check issue: Trying to get property of non-object when accessing page without menu item (#632)

[2015-07-24 07:29] #645 closed

[2015-07-24 08:53] #644 closed

[2015-07-24 08:58] mahagr commented on #607
I'm closing this issue as assignments aren't just menu items as in Joomla.

[2015-07-24 08:58] #607 closed

[2015-07-24 09:02] mahagr commented on #609
I'm closing this one as invalid -- there is no reason to let all the users to know every single detail. The error message is already too detailed to my taste and should give admin enough information to figure out what is wrong -- just follow the instructions.

[2015-07-24 09:02] #609 closed

[2015-07-24 09:07] mahagr commented on #621
I think we still need to have these two showing up as they allow you to set default chrome site-wide or for the current layout.

What if we just hide the first parameter, which needs to be overridden in layout?

[2015-07-24 09:35] #640 closed

[2015-07-24 09:59] mahagr commented on #623
For some reason checkbox isn't working yet; maybe the data I pass to the form is in wrong form? Right now it is true, maybe it should be a string?

[2015-07-24 10:16] kat05 commented on #640
fix confirmed :+1:

[2015-07-24 10:19] newkind opened #646 "Checkbox styling in Widget settings in Layout Manager are broken"
Checkbox styling in Widget settings in Layout Manager are broken
![hydrogen theme gantry5 wordpress wordpress 2015-07-24 12-18-05](https://cloud.githubusercontent.com/assets/1641534/8872530/2458b87c-31fe-11e5-901f-069bedcadc44.jpg)

[2015-07-24 10:35] kat05 commented on #644
looks good now.

[2015-07-24 11:34] #623 closed

[2015-07-24 12:24] mahagr commented on #646
Fixed in 310ec2e

[2015-07-24 12:24] #646 closed

[2015-07-24 12:27] newkind commented on #646
and also in 83f7dcb ;)

[2015-07-24 12:31] mahagr opened #647 "WordPress - Checkbox coming from widget cannot be unchecked"
We have some code in layout manager to make checkboxes to work with overrides. In WP widgets we do not have overrides because of we do not have any control on the form, which makes the logic to be a bit different to ours.

We need to add workaround to our validate AJAX call for sending data from non-Gantry form so that unchecked checkbox isn't sent at all.

[2015-07-24 12:39] newkind commented on #608
What front end page you're testing it ? Blog page isn't really considered a real page, so that might be an issue. Can you create a single page and load it in front end ?

[2015-07-24 12:51] mahagr commented on #638
Adding widgets to the menu is a high priority task, but because of there are fatal errors in WP admin, I will look into those bugs first.

As Gantry 4 didn't have this feature, I'm disabling the feature for now to allow us to do the release rather sooner than later.

[2015-07-24 13:11] newkind commented on #608
The cause of the issue was hardcoded outline in theme files

[2015-07-24 13:11] #608 closed

[2015-07-24 13:23] kat05 commented on #608
confirmed :+1:

[2015-07-24 13:28] kat05 commented on #623
confirmed!

[2015-07-24 13:29] kat05 commented on #635
confirmed, layout panel is back in base outline.

[2015-07-24 13:43] kat05 opened #648 "WordPress - Archives widget checkbox issue"
Please see pic, the checkboxes don't seem to be styled properly.

![g5_wp_archivescheckbox](https://cloud.githubusercontent.com/assets/5719486/8875606/b462c126-321a-11e5-9381-477fb64300ca.png)

[2015-07-24 13:44] newkind commented on #648
Hmmm I fixed this like na hour ago ... Can you try hard refresh couple times so I would reload the css ?

[2015-07-24 13:49] kat05 commented on #648
pulled latest and they look good!

[2015-07-24 13:49] #648 closed

[2015-07-24 16:12] kevlardev commented on #593
I'm not exactly sure I understand the problem you are running into, could you elaborate a bit more on this?

[2015-07-24 16:51] adi8i commented on #593
I am talking about `blueprints/styles`, for any other input, like `select.selectize` you add a default value in `yaml` file, then you add your code in `scss` to use that variable, and also you need to define that variable like: `$my-variable: value !default;`.

Is a bit weird, and misleading, @w00fz  knows about this, we've talked on gitter.
I've used `content: $my-variable` to debug.

If i add `$

[2015-07-24 17:30] #636 closed

[2015-07-24 18:17] #592 closed

[2015-07-24 18:18] mahagr commented on #592
Displays error message in place of menu being either ```No menu selected``` or ```Menu not found```.

Note that the exception is still thrown if you have enabled debug mode from the Gantry plugin.

[2015-07-24 18:37] mahagr commented on #612
I'm removing important tag from this one as it's how it works in Joomla too. So this is actually not a Wordpress issue, but something we might want to fix in both.

[2015-07-25 06:35] DanGthatRokGallery opened #649 "404 not triggered by this type of link"
Pertaining forum Topic -> http://www.rockettheme.com/forum/joomla-template-ethereal/245316-menu-errors-and-how-to-disable-crikey-exception-reporting

I can confirm this on my local Ethereal. If a user on a site inadvertently types the wrong URL, specifically one that includes a text-separator in the path, instead of the nice 404 page they get "Exception (404)
Component not found."

On my local I u

[2015-07-25 07:27] mahagr commented on #649
Above error should not happen. I'll look into it.

[2015-07-25 09:06] alisamii commented on #556
I've also noticed this happen. It happens when you add a particle to the left off the row, rather than to the right.

If you add it to the right then reorganised three particles, it won't happen.

Best regards,

Ali

[2015-07-26 16:10] mahagr commented on #615
Actually this will happen also in Joomla if you first saved settings in that another outline and then changed base outline. This is because of there is no "Use Default" option in the toggle.

We need to implement 3-way toggle in order to support this.

[2015-07-26 16:12] mahagr commented on #615
@w00fz How about adding third option to the toggle which will unset the value before sending form to the server?

[2015-07-26 16:22] mahagr commented on #593
It's not just SCSS, that's the limitation of using checkbox in general and affects also PHP or any programming language you use to parse the form.

The only purpose of checkbox is to add or enable something, you cannot use it to remove or disable any feature. This is because of checkbox will not have a value if not checked. This means that it has only two states: set or undefined.

So basically yo

[2015-07-26 17:57] adi8i commented on #593
I think i've tried `enable` too, and had the same behavior. Anyway, now i understand what you mean, so it's up to you to close it or leave it open.

[2015-07-26 21:36] DamirPecnik opened #650 "WordPress - Error if menu does not exist"
When i click on the menu in Gantry 5 and there is no menu created i get : Whoops \ Exception \ ErrorException (E_WARNING)

**I think there should be notice for this**

![2015-07-26 23 35 30](https://cloud.githubusercontent.com/assets/10489911/8896024/0f56383a-33ef-11e5-8256-79bea887b4f4.jpg)

It appears this is fixed but i am using the latest ci build and it isnt.
https://github.com/gantry/gantry5

[2015-07-26 21:50] DamirPecnik opened #651 "WordPress - no highlight on active menu item"
There should be active class on the menu item or something so we can see what item is active. Currently all are the same ...

![2015-07-26 23 50 52](https://cloud.githubusercontent.com/assets/10489911/8896088/208721bc-33f1-11e5-83ba-0a3ff50cb0fe.jpg)

[2015-07-26 22:01] DamirPecnik opened #652 "Drop-Down Menu Direction"
There should be drop-down menu direction for smaller viewport sizes when there is menu at the end it goes outside of the screen ... don't know if this is happening in Joomla but something like it was implemented in some latest themes in Gantry 4

![2015-07-26 23 55 30](https://cloud.githubusercontent.com/assets/10489911/8896119/02ad8c70-33f2-11e5-8772-72da2ad49cc7.jpg)

[2015-07-26 22:06] DamirPecnik opened #653 "Assignments are blank"
Theme: Hydrogen (vdev-905842ca5 / g5_hydrogen) when i want to assign an assignment all are blank.

![image](https://cloud.githubusercontent.com/assets/10489911/8896148/4440b4a4-33f3-11e5-84a0-8d130e527527.png)

[2015-07-26 22:19] DamirPecnik opened #654 "archive.php Type Implementation Missing"
Whoops\Exception\ErrorException thrown with message "array_unshift() expects parameter 1 to be array, null given"

Stacktrace:
#0  in F:\Websites\testing\wordpress-gantry\wp-content\themes\g5_hydrogen\archive.php:41

[2015-07-27 00:50] w00fz commented on #652
See here: https://github.com/gantry/gantry5/issues/417#issuecomment-110114753

[2015-07-27 00:50] #652 closed

[2015-07-27 01:01] w00fz commented on #643
Not exactly sure what you guys mean here, I just installed latest CI package + hydrogen e i see the icons fine.

![fontawesome](https://cloud.githubusercontent.com/assets/11734/8896958/4edf3a8a-33c0-11e5-941c-3117ced56af3.jpg)

[2015-07-27 02:39] w00fz commented on #647
This is actually not an interference from the overrides, it's just the way it works, for checkbox as for anything else (for instance, an empty text field).
I did add a special case for checkboxes now, if unchecked it won't be sent to the validation. I'm not entirely sure why this is needed.

Also note that even though now I'm not sending unchecked fields, the validator is still returning the value

[2015-07-27 02:39] #647 closed

[2015-07-27 07:27] #654 closed

[2015-07-27 07:50] mahagr commented on #593
Try out radio button, select or toggle type.

[2015-07-27 07:50] #593 closed

[2015-07-27 07:54] #650 closed

[2015-07-27 07:56] mahagr commented on #653
Might be a bug in CI builds; @w00fz can you take a look if we are missing files from the builds?

[2015-07-27 08:01] mahagr commented on #647
@newkind can you check if WP checkboxes now work?

@w00fz This is just needed for WP as we have no control on their forms. So basically WP will internally interpret any set value as true and unset variable as false. In validation WP will then add the value, which is what gets sent back.

[2015-07-27 08:37] JoomFX commented on #649
I'm also getting the above error. It really seems that it occurs only if some of the parent menu items are "Text Separator". At least I was not able to reproduce it otherwise.

I'm also getting a similar issue with pages that the user does not have access to:

![alt](http://i.imgur.com/KhCbbU8.png)

In might not be easy to reproduce and troubleshoot my issue as it is a bit specific:

1. I do not h

[2015-07-27 09:28] newkind commented on #654
@mahagr it was fixed before you assigned me to it ;)

[2015-07-27 10:20] kat05 commented on #643
i had this issue for a couple of days with several ci builds, today i used vdev-11b57c6c8 and the fontawesome icons show now. :)

[2015-07-27 10:20] #643 closed

[2015-07-27 10:22] kat05 commented on #653
i can confirm this issue with vdev-11b57c6c8.

however, everything works fine on hebe linked installs.

there is definitely something wrong with the ci builds, i am still missing the content tab as well, even in latest.

[2015-07-27 10:22] kat05 commented on #651
i can confirm this issue.

[2015-07-27 10:33] kat05 commented on #638
i can confirm that this is fixed (widget hidden in menu editor) on hebe linked installs.

in the ci builds, it says 'module' there, which is another reason to believe something is wrong with ci builds.

[2015-07-27 11:01] DamirPecnik opened #655 "No Gantry 5 Theme UI Bug Joomla"
When there is no Gantry 5 theme installed there is a notice but the layout is broken see screenshot!

![2015-07-27 13 00 21](https://cloud.githubusercontent.com/assets/10489911/8904434/9827c12c-345f-11e5-8370-88602935641d.png)

[2015-07-27 12:11] kat05 commented on #417
This was actually part of RokNavMenu and made available for some Gantry 4 templates.

The documentation is here:
http://www.rockettheme.com/docs/joomla/extensions/roknavmenu/setup.md#dropdown-menu-options
http://www.rockettheme.com/assets/docs/joomla/extensions/roknavmenu/menu_1.jpg

It's those settings called:
Dropdown on Large: Left/Right
Dropdown on Desktop: Left/Right
Dropdown on Tablet: Left/

[2015-07-27 14:57] sural98 commented on #551
I can confirm that this issue is related to the no of menu items.
There was no problem with a fresh Ambrosia RT launcher but issue arised upon importing 1362 items and a no of menus via an sql.

[2015-07-27 19:31] DamirPecnik commented on #654
Not Fixed

Whoops\Exception\ErrorException thrown with message "array_unshift() expects parameter 1 to be array, null given"

Stacktrace:
#0  in F:\Websites\testing\wordpress-gantry\wp-content\themes\g5_hydrogen\archive.php:41

[2015-07-27 19:34] DamirPecnik commented on #654
Confirmed! Works Now!

[2015-07-27 19:43] DamirPecnik opened #656 "WordPress Menu - If Linked and Erased Error Appears"
When menu is created in WordPress and linked in G5 and then you erase that menu from WordPress and there are no more menus left you will get an error notice ...

Twig_Error_Runtime thrown with message "An exception has been thrown during the rendering of a template ("in_array() expects parameter 2 to be array, null given") in "@particles/menu.html.twig" at line 2."

Stacktrace:
#34 Twig_Error_Runt

[2015-07-27 19:56] DamirPecnik opened #657 "WordPress Dropdown UI Bug"
There is a bug when i click on the dropdown the layout boxes get shifted see the video

http://take.ms/N4B2y

![2015-07-27 21 55 55](https://cloud.githubusercontent.com/assets/10489911/8916221/64dbf2d4-34aa-11e5-9c89-0209dd61455d.jpg)

[2015-07-27 20:34] newkind commented on #657
I'm not sure if we can do anything about it - this is how cards are working in CSS and this happens because the container height changes. Any input here @kevlardev ?

[2015-07-27 20:38] weredigi commented on #657
Wondering if we could separate wordpress from joomla update lot extra email
of unrelated to subject matter if using other cms

greg@weredigital.com
On Jul 27, 2015 1:57 PM, "Damir Pecnik" <notifications@github.com> wrote:

[2015-07-27 22:33] w00fz commented on #657
Sorry that's not possible. Gantry as a whole is a project that includes different platforms that all reside in the same GitHub repository.
I would suggest creating a filter with your email to mark as read or delete any gantry email that contains specific keywords such as `wordpress`. That's your best bet.

[2015-07-28 08:32] mahagr commented on #649
Alright, so it looks like I just need to ignore exceptions with 401, 403 and 404 error codes somehow.

[2015-07-28 08:33] mahagr commented on #653
@kat05 @newkind Is this issue fixed also?

[2015-07-28 08:34] mahagr commented on #638
@kat05 Did the latest build fix that module issue (new install)?

[2015-07-28 08:34] mahagr commented on #655
@kevlardev Can you check this one out?

[2015-07-28 08:39] mahagr commented on #551
@w00fz Do we have some JS that goes through all the input fields?

[2015-07-28 08:48] #656 closed

[2015-07-28 10:51] kat05 commented on #656
seems fine for me now.

[2015-07-28 11:07] kat05 opened #658 "WordPress - Invalid Action after getting notice about Site not having menus"
I deleted all my menus to test if the other bug was fixed.

After that I was in the Styles panel of 'Base outline' and hit the 'Menu' for the menu editor.

It correctly opened the popup to tell me that there are no menus.

I clicked OUTSIDE of the popup to close it.

Then I entered 'menus' into the 'Section Styles' filter which resulted in a popup telling me:
405 Method Not Allowed
Oops, Invalid A

[2015-07-28 11:20] kat05 opened #659 "Uninstall of Gantry should remove cache files"
Seen this in WP, it's probably the same in Joomla.

After uninstalling both Gantry 5 and Hydrogen from my WP install, there are still tons of files under
../wp-content/cache/gantry5/

I believe this should get removed during uninstall?

[2015-07-28 11:23] kat05 commented on #659
I've also searched my database for 'gantry' and 'hydrogen' and there seem to be some entries there. not sure if some of those would need removal too though.

[2015-07-28 12:03] kat05 commented on #650
fix confirmed

[2015-07-28 12:04] kat05 commented on #653
it is fixed for me in latest ci builds.

[2015-07-28 12:08] kat05 commented on #638
yes, latest ci build seems to not show 'modules' anymore

[2015-07-28 12:36] kat05 opened #660 "Menu max levels seems to be short by 1"
Seen in WP, might be same in Joomla.

I am using the 'Testing menu' which is part of Jakub's test install.

There are 1st level items, one of them is called 'Depth' and it has a child Item called 'Level 1' which itself has a child item called 'Level 2' which itself has a child item called 'Level 3' etc.
(You can see it in the attachment)

Now in the Base outline > Settings > menu > Max levels i se

[2015-07-28 15:08] kat05 opened #661 "WordPress > Content > Query settings are missing tooltip on hover"
please see pic

![g5_wp_querytootltip](https://cloud.githubusercontent.com/assets/5719486/8935099/421e81f2-354b-11e5-8c35-e65b20dca27a.png)

[2015-07-28 16:48] kat05 opened #662 "Use of iframe breaks Offcanvas button function on Android Firefox"
http://www.rockettheme.com/forum/joomla-template-callisto/244247-mobile-navigation-not-working-on-firefox-for-android?start=10

The issue with the offcanvas menu not opening (clicking the hamburger icon won't show the menu) on android firefox has been narrowed down to the use of iframe.

It seems that even embedding a youtube video on the site breaks the functionality.

The code in question sits i

[2015-07-28 17:46] newkind commented on #653
fixed :)

[2015-07-28 17:46] #653 closed

[2015-07-28 17:47] newkind commented on #638
closing

[2015-07-28 17:47] #638 closed

[2015-07-28 17:49] newkind commented on #659
I think that we can remove the cache on uninstallation, although I wouldn't remove the stuff from database as I think it might be nice to keep them if someone decides to get back to previous theme

[2015-07-28 20:59] adi8i commented on #659
i think cache should be cleared in joomla/wp, because that's the place where cache is stored.

[2015-07-28 23:02] DamirPecnik opened #663 "Turn off Responsive Layout"
@kevlardev Is there a possibility to have just desktop layout turned on and no responsiveness some users where asking about this on RT Forums?

[2015-07-29 13:23] kat05 opened #665 "Hydrogen email popup input field alignment issue"
In the 'Email to friend' popup in Hydrogen, the inputs are misaligned, please see pic.

![g5_hydrogen_emailalign](https://cloud.githubusercontent.com/assets/5719486/8958542/bfd58144-3605-11e5-92fb-6837bb87a7bb.png)

[2015-07-29 13:39] titro commented on #649
additional

I try to do a request on a component which does not exists (com_impressum)  --> 404
![image](https://cloud.githubusercontent.com/assets/4005090/8958902/ee411942-3607-11e5-8f24-5639f36310b1.png)

[2015-07-29 14:42] mariantanase commented on #665
You're right, I noticed too. I resolved with a few css lines on custom.scss :

    div.formelm label {
        display: block;
        padding-right: .25rem;
        width: 5rem;
        float: left;
        line-height:1.8rem;
        text-align: right;}

    div.formelm input,
    div.formelm textarea {
        margin: .1rem;
        display: block;}

[2015-07-29 18:40] pablotll opened #666 "Menu Start Level >1 gives blank space"
Hi, as mahagr asked, I'm opening this issue:

I have this menu:

![captura de pantalla 2015-07-08 a la s 13 53 16](https://cloud.githubusercontent.com/assets/13223064/8579203/d1ae7468-2578-11e5-85eb-b90b4083a33a.png)

Everything is inside the text separator just for SEF url's purposes because I want the URL's to be mydomain.com/candidatos/item.html. This is something I usually do with joomla and w

[2015-07-29 19:20] edmcmanwich commented on #263
You can override the admin css by copying administrator/com_gantry5/templates/partials/base.html.twig to your-template/custom/admin/templates/partials/base.html.twig and changing the path to the stylesheet or adding a new one.

[2015-07-29 20:14] samsblues commented on #649
I am using the Wordpress plugin for Joomla, all working fine - until i click "Older posts" on the blogs home page: "http://localhost/joomla31/?option=com_wordpress".

Would really appreciate any help with this - doing my nut in :(

<img width="1213" alt="screen shot 2015-07-29 at 21 12 05" src="https://cloud.githubusercontent.com/assets/13561082/8968680/aeef2a66-3636-11e5-9084-15ba682e7e3c.png">

[2015-07-29 23:54] nzimas opened #667 "modules in template override not showing"
In order to display a set of modules in the article view only, thus bypassing the menu item, assignment, I have created a template override.
So far I have tried unsuccessfully two modes injection methods.

1) Direct invocation of one specific module

<?php
jimport('joomla.application.module.helper');
   $module = JModuleHelper::getModule('mod_ijoomla_adagency_zone','Right Top Ad');
   echo JModule

[2015-07-30 11:46] kat05 commented on #631
i am not seeing this on all of my test install, but can confirm on some.

[2015-07-30 13:34] kat05 commented on #649
i can confirm this issue, still happening in today's ci build.

[2015-07-30 14:26] kat05 opened #668 "Update FontAwesome to 4.4"
Looks like 4.4 icons do not work yet, we should probably update to latest.

[2015-07-30 16:58] newkind opened #669 "Saving Styles causes 405 Method Unalowed"
I can't save changes in the Styles tab. I'm not sure what's causing that as I had this behavior before, then it started to work, right now it's again broken.

![screen shot 2015-07-30 at 18 52 52](https://cloud.githubusercontent.com/assets/1641534/8989413/5295ae5a-36ec-11e5-8577-f0e5696b02b5.png)

[2015-07-30 20:38] JoomFX opened #670 "Menu Titles"
@w00fz  I'm trying to figure it out for more than an hour now but I cannot and I really do not understand why. Please read below and you will understand what I mean.....

As you know there was a discussion in the chat about the Menu Item Titles that appear when you hover over an item. The user asked that those are made optional.
I checked more than 10 of the most popular websites and none of them

[2015-07-30 23:46] nzimas commented on #330
I've added the atoms to the Atoms section in Hydrogen but not is being injected.
Neither GA's tracking code nor a custom inline JS are anywhere to be found.

Relevant screenshot:
https://www.dropbox.com/s/erlpdq22acep5j6/Screenshot%202015-07-31%2000.43.55.png?dl=0

[2015-07-31 05:59] gustav-mahler opened #671 "Please help with title"
Hi there, Can you please help me?

I run Joomla and Gantry 5 and got these tooltips (extra copy of the titles in white) over the Gantry menu as shown in the image example underneath. How to remove these? I think it started when I split the menu subitems into 2 columns.

http://www.gustav-mahler.eu

Joomla version 3.4.3
Joomla platform 13.1.0
Gantry Hydrogen 5.0.1

![image](https://cloud.githubuser

[2015-07-31 06:05] adi8i commented on #671
Menu links have `title`

[2015-07-31 08:23] JoomFX commented on #671
@gustav-mahler Have a look at https://github.com/gantry/gantry5/issues/532 . It explains why you see the title.

Then have a look at https://github.com/gantry/gantry5/issues/670 . I do believe that the title should be optional and I think the RT guys agree with this and will implement an ON/OFF switch for it.

Until then, you can just remove the following code from line 46 in `menu.html.twig` (roo

[2015-07-31 10:10] newkind opened #672 "Typing non existing item name in Assignments filter causes whole card to disappear"
Steps to reproduce :

1. Go to the Theme Settings
2. Switch to any outline
3. Go to the Assignments tab
4. Try to filter any card with non existing item name ie. asidajdopas
5. Card disappears and the only way to make it appear again is to refresh the page

[2015-07-31 16:07] castor01 commented on #649
I can confirm this issue too. The error occurs only in the 2nd part of the URL. After the 2nd Shlash but not after a 3rd Slash. For example www.test.com/others/error/page.html or www.test.com/others/error/others/page.html or www.test.com/others/error.html

[2015-07-31 22:09] #668 closed

[2015-07-31 22:15] w00fz commented on #670
Have you tried like this?

[code]

[2015-07-31 22:22] w00fz commented on #662
This looks like a duplicate of #557

[2015-08-01 00:51] lilmike opened #673 "possibility for accessibility?"
Hi,
I was testing out the dev release of the wordpress gantry framework, and found that, unfortunately, it was not very accessible in the back end (using wordpress 4.3rc1 and hydrogen). There were quite a few unlabelled buttons and links (so many, in fact, that it was hard to go anywhere in the administration panels for me, using a screen reader). I would guess the dragging and dropping would not

[2015-08-01 13:56] alisamii commented on #572
@mahagr I see you closed this issue, but I like @kevlardev recommendation. However, it does not seem to have been implemented, at least not in the latest CI build.

Any idea when/if this will be implemented, or can you provide a solution that won't involve overriding something like `page.html.yaml`?

[2015-08-01 15:48] JoomFX commented on #670
@w00fz I just tried the code you suggested above but it still doesn't work.

Whatever condition/code I use, the Title is gone, but if I set the option to show the Title, it still does not show it. It really seems that the variable is not being recognized. I also did some tests, I tried to just add the variable value in the Titel with the following code but it still does not work:

[code]
and
[code

[2015-08-02 07:08] newkind commented on #673
Hi,

We can definitely work on the button labels. About the position numbering, I'm affraid that this is also possible because of the new wordpress widget mechanism that allows you to click on a widget and select  (whout drag-and-drop) a widget position below it. This is something that isn't possible in the G5 Layout Manager. A workaround for that can be to prepare layouts and use the Widget Posit

[2015-08-02 12:33] lilmike commented on #673
Hi,
When I said how wordpress does it, I meant like they have an
accessibility mode, in which the widgets no longer are dragged and
dropped, but instead you can click to add a widget underneath each
widget type, then choose a sidebar and position on that sidebar (from 1
to x+1) where x is the current number of widgets on that sidebar.
Thanks,
-Michael.

On 8/2/2015 2:08 AM, NewKind wrote:

[2015-08-02 13:23] newkind commented on #673
I had the same on my mind. Just like I said, right now you can prepare the widget positions in Gantry
Layout Manager, and then use the widgets like you’d normally do. I can see what can we do with labels
after we get the first version of Gantry for WP out.

On 2 sierpnia 2015 at 14:33:18, Michael Taboada (notifications@github.com) wrote:

Hi,
When I said how wordpress does it, I meant like they ha

[2015-08-02 13:29] gustav-mahler commented on #671
Thank you JoomFX and adi81!     It did the trick.

[2015-08-02 13:29] #671 closed

[2015-08-02 18:17] lilmike commented on #673
Hi,
Ah. I didn't realize there was a different way of doing it. And when you
say widgets, I'm assuming you're talking about particles? Basically I'm
just looking for an accessible way of laying out your site in gantry.
Thanks,
-Michael.

On 8/2/2015 8:23 AM, NewKind wrote:

[2015-08-02 20:44] ifeedmonsters opened #674 "Layout manager does not load in chrome"
I was working on a site when all of a sudden I am having an issue (only in chrome) where the layout manager would not load in any sections, the outline select box up top would not load any options, and the "Extras" dropdown does not work at all.

[2015-08-03 05:10] adi8i commented on #674
I am using the latest version of Chrome on Windows 8.1 without any issue, can you specify your Operating System and Browser version? :)

[2015-08-03 09:51] kat05 commented on #501
for pur upcoming template, i used a launcher package and then a 2nd launcher package where i installed gantry 5 again manually.

these files get added when doing the install, so they appear to be missing in the original launcher build:
/administrator/components/com_gantry5/gantry5.xml
/language/en-GB/en-GB.files_gantry5_nucleus.sys.ini
/media/gantry5/engines/nucleus/language/en-GB/en-GB.com_gantry

[2015-08-03 10:05] kat05 commented on #501
i've tried rokpad, rokbox, rokbooster, rokajaxsearch too and they did not cause any files to be added. so it seems that it's the components only (i.e gantry 5 and roksprocket) that have files missing in the launcher builds.

[2015-08-03 10:07] kat05 commented on #674
I am not seeing any issues either, using Gantry 5.0.1 and also latest CI build on Chrome Version 44.0.2403.125 (64-bit) on Mac OS 10.10.3

[2015-08-03 10:53] mahagr commented on #330
Did you add atoms to all your outlines? There's issue for allowing us to inherit stuff from base outline, but it's not done yet, so the only way is to add it to everywhere.

[2015-08-03 10:54] mahagr commented on #572
Did you override the file in your template as this has indeed been implemented.

[2015-08-03 10:56] mahagr commented on #674
No issues on using Chrome here, either.

[2015-08-03 10:59] mahagr commented on #501
@w00fz Where are those file copy operations specified in our build system? Joomla automatically copies manifest files from the package so they aren't defined in xml files.

[2015-08-03 11:07] mahagr commented on #673
Accessibility is really something that we need to have, but I have no idea on how to make a page accessible (or best practices) as I have no experience on screen readers.

Layout and menu managers likely need some work, but all the other pages should be pretty trivial to optimize for screen readers. So we could start from there.

So in short, are there any good docs on how to make it screen reader

[2015-08-03 11:09] mahagr commented on #670
@lilmike Those titles were added for accessibility so I'd like to hear your feedback, too. :)

[2015-08-03 11:11] mahagr commented on #666
Thanks for the report. :)

[2015-08-03 11:15] mahagr commented on #667
Your code should certainly work. Just make sure that your template override for article is used. Can you echo anything else to be sure if this is the case?

[2015-08-03 11:20] mahagr commented on #661
Fixed?

[2015-08-03 11:20] #661 closed

[2015-08-03 11:20] mahagr commented on #660
@kat05 Can you check Joomla as well? It might be good, tho.

[2015-08-03 12:03] kat05 commented on #572
I can confirm that "g-system-messages" is being loaded at all times, tested in latest CI build (commit: 1d7e39cfe)

[2015-08-03 12:05] kat05 commented on #660
This seems to be working fine in Joomla, tested with latest CI build (commit: 1d7e39cfe)

[2015-08-03 12:10] JoomFX opened #675 "Disable Dropdown option (reopen)"
As @mahagr suggested, I'm opening a new issue for this. The original issue is https://github.com/gantry/gantry5/pull/611
The thing is that with the current implementation the user is not able to disable second level dropdowns (3rd level menu items) because you are hiding the "Dropdown Style" option for non-first-level menu items.

It will be best if we take the option out of "Dropdown Style". Here

[2015-08-03 12:11] kat05 commented on #661
Confirned fixed!

[2015-08-03 13:13] #674 closed

[2015-08-03 13:15] ifeedmonsters commented on #674
Hmm, it might not have been a browser issue, but the layout manager definitely stopped loading after a while. I was working on MAMP. I restarted my project twice because of the problem.

[2015-08-03 13:52] pdubois95 commented on #489
Any movement on this issue?

[2015-08-03 14:01] marktaylor46 commented on #489
Any movement would be shown here on the issue - so no not as yet sorry.

Regards, Mark.

[2015-08-03 14:28] lilmike commented on #673
Hi,
One resource I've heard mentioned quite a bit is WebAim (webaim.org).
There's also a couple other sites scattered about the net that you could
probably find with a google search for 'Guide to making a website screen
reader friendly' or similar. In general though, webaim does have quite a
good amount of content and where it lacks I'm sure it links to other places.
Hth,
-Michael.
P.S. I'd be wil

[2015-08-03 15:49] kevlardev commented on #663
No, the entire layout and framework (like most these days) was built with touch and mobile devices in mind. It requires a lot of specific media queries and arrangements to make all that work and creating an override (such as the 960fixed and 1200fixed we had in gantry4) requires tons of css and overhead to reverse all those rules to provide both functionalities in parallel. Users have total contro

[2015-08-03 15:52] newkind commented on #663
In my opinion this would be like going couple years back ? Especially that the responsive layout is one of key things when we talk about SEO and Google position. We need to drop some legacy stuff so we could move on, otherwise it will always hold us back.

[2015-08-03 15:57] mahagr commented on #572
@kat05 It should be loaded but it should also be collapsing, meaning that it won't show up unless there is something in there.

So I still think it has been fixed.

[2015-08-03 16:00] mahagr commented on #674
Try to figure out how to reproduce it; if it's a bug we really need a reliable way to test what's going on with it.

[2015-08-03 16:10] mahagr commented on #663
I think it would be possible to disable media queries from CSS files by one variables, though. We could also set width on html body to restrict the size. But honestly I'm not sure why anyone would like to do either of them, unless they have separate template for mobile devices.

[2015-08-03 16:12] mahagr commented on #489
I've been on my vacation, so no progress here.

[2015-08-03 17:26] kat05 opened #676 "Gantry Logo particle redirects to current url not site url"
As mentioned on hipchat today, in Joomla when clicking the Logo from a subpage, the current page just gets reloaded. You won't get back to the Homepage.

This issue only happens with SEF disabled. When SEF is on, everything works as it should

[2015-08-03 20:37] DamirPecnik commented on #663
Me neither but users are requesting ....

[2015-08-04 10:38] RustyR commented on #662
This is no duplicate of #557. In that issue Android/FF was tested with a clean Rocketlauncher install without a youtube iFrame placed in a custom_html module.

Offcanvas menu is working on all pages without iframes and not working on the pages with. After de-publicating the modules with iFrames the offcanvas menu is working everywhere!

Tested and able to reproduce the issue over and over again on

[2015-08-04 13:56] newkind opened #677 "Widget particle in Layout manager should load custom widget css/js"
Widget particle in Layout manager should load custom widget css/js that might be needed to support widget settings form.

[2015-08-04 15:08] #663 closed

[2015-08-04 15:09] kevlardev commented on #665
Was the pop up forms the only place you came across these label issues?

[2015-08-04 16:23] #665 closed

[2015-08-04 16:50] kevlardev commented on #655
I cant seem to find a way to reproduce this, was there anything special or extra that you did? Or was it just a straight fresh joomla install / gantry install with no theme?

[2015-08-04 17:04] #655 closed

[2015-08-04 18:39] mahagr commented on #669
Looks like this bug exists only when you have not clicked on styles tab. URL is different when you first access the page.

[2015-08-04 18:40] newkind commented on #669
Yah, confirmed.

[2015-08-04 18:50] mahagr commented on #669
@w00fz

It looks like javascript doesn't obey <form action="..."> in styles tab causing it to send data to wrong url the first time you enter to the page in WP.

[2015-08-04 18:57] #660 closed

[2015-08-04 19:05] DanGthatRokGallery commented on #489
I've actually tested this solution for Ethereal -> http://www.rockettheme.com/forum/joomla-template-ethereal/245374-horizontal-menu#1222275  and it seems to work. I also tried this on ambrosia and it worked there also

[2015-08-04 19:23] newkind opened #678 "Scripts/Styles with head (and footer) don't work"
`{% scripts with { priority: 9 } %}
        <script type="text/javascript" src="{{ url('wp-includes://js/comment-reply.js') }}"></script>
    {% endscripts -%}`

Scripts and styles placed in twig files - both content and particles - don't work when using head or footer position. If we call a custom one ie. `foo` they start to work.

[2015-08-04 19:35] mahagr commented on #489
@DanGthatRokGallery So the bug fix needs to be done to Ethereal template, not into Gantry?

[2015-08-04 19:37] mahagr commented on #678
Works in Joomla, just not in WP.

[2015-08-04 19:55] #658 closed

[2015-08-04 20:06] kevlardev commented on #489
Yes, this isnt a Gantry issue, but rather a typo in the custom particles created in those templates. Im updating each of the affected themes with the corrections.

[2015-08-04 20:07] #489 closed

[2015-08-04 22:33] DamirPecnik opened #679 "WordPress Admin Bar Issue on Mobile"
Menu is not visible when viewing on small devices Admin bar is on top of it ...
![2015-08-05 00 30 19](https://cloud.githubusercontent.com/assets/10489911/9074397/85f1ed24-3b09-11e5-9814-7ca928aca7be.jpg)

[2015-08-05 03:52] omikron commented on #330
I am having this same issue, I have added the Atoms to the base outline layout as well as every single other outlines, but neither Google analytics or custom JS is getting injected.

[2015-08-05 08:19] #679 closed

[2015-08-05 08:44] mahagr commented on #330
Have you enabled those atoms from settings page?

[2015-08-05 08:52] mahagr commented on #330
I don't think that this fixes all the issues, but at least takes one obstacle away. I've enabled atoms in main configuration by default (for new installations) as it was one of the reasons people were confused.

[2015-08-05 11:23] mahagr commented on #678
Footer still has some issues.

[2015-08-05 11:59] kat05 commented on #615
@mahagr  not sure you understood me correctly, i did not say that i changed anything in the other outlines.

i only changed something in base outline, which was then not reflected in the other 2 outlines.

when i tested this, the behavior between joomla and wordpress was not the same.

[2015-08-05 13:58] marktaylor46 opened #680 "Particle packaging"
I know we've had several discussion about this but I thought I'd raise a ticket and offer some comments.

We need to find a way to package particles so that they can easily be installed and uninstalled from templates. By "package" I mean the twig, yaml, and scss associated with a particle - in short everything that makes that particle function.

Why do we need this? Because members want to use and

[2015-08-05 14:27] JoomFX commented on #680
+1

I'm not sure if this will and should be implemented but I somehow like the concept :)

[2015-08-05 14:32] JoomFX commented on #670
@w00fz @mahagr guys, did you have the change to test this?

I really cannot figure out why the option I'm trying to add does not work. The YAML variable does not seem to be recognized in the Twig.

@mahagr I'm just trying to add an option in the Menu Particle which will make the Menu Titles optional (ON/OFF switch). And I believe they should be OFF by default... but it doesn't really matter :)

[2015-08-05 15:42] omikron commented on #330
Yes, I have them enabled on all outlines.

[2015-08-05 18:25] prototype2118 opened #681 "Disable whoops when Gantry is in production mode, debug mode has been disabled and user isn't admin"
https://prismli.com/information/forum/prism-welcome-forum/2-welcome-to-the-prismli-group

Example of a 404 exception that I am getting with error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT in the php.ini and error reporting set to NONE in Joomla.

The 404 exception is far too revealing for a site in production.  Can this be addressed?

[2015-08-05 19:21] w00fz commented on #680
We have plans for this but not at the moment. In the future we'd like to have an export/import as well as a repository for Particles. It's just not up to in the priority list right now so this will have to wait.
It's not so hard at the moment to just copy the few files tied to a particles, over to another template.

[2015-08-05 19:21] #680 closed

[2015-08-05 19:22] w00fz commented on #681
Agreed we need to either tie the whoops to Prod/Dev or have it serving with less data, especially on frontend.

[2015-08-05 19:24] prototype2118 commented on #681
Awesome, thank you for addressing this.

[2015-08-05 19:49] #672 closed

[2015-08-05 19:53] w00fz commented on #615
What @kat05 is describing sounds like inheritance issue specifically in Wordpress only.
Outlines are not inheriting from Base when needed, like Joomla does. Is this the issue you are describing @kat05 ?

[2015-08-05 19:58] w00fz commented on #556
Still cannot reproduce.

[2015-08-05 20:39] adi8i commented on #556
If you re-size a particle, then remove another one, and hit Undo, the particle will not revert to initial position.

Proof: http://screencast.com/t/qPCUILsIl4

[2015-08-05 21:02] w00fz commented on #670
I'm not sure how was the entire code of yours @JoomFX but I believe you were in a twig `macro` and tried to use the external variable `particle` which was not available.

It is kind of tricky with twig to do that, can see some docs here: http://twig.sensiolabs.org/doc/tags/macro.html

Anyway this is now implemented and it's set off by default.

[2015-08-05 21:02] #670 closed

[2015-08-05 21:19] JoomFX commented on #670
Thanks a lot @w00fz , as usual :)

Yep, that's exactly what I was trying to do.
I just checked [your commit](https://github.com/gantry/gantry5/commit/8f98f9cbe1df15689f4589a4d9ef8869f1801aea) and I saw what you did. Just one question - you've added `particle` to all marcos. Did you do that so from now on all new variables defined in the YAML file will be available in the Twig? I mean, adding `part

[2015-08-05 21:30] w00fz commented on #670
I added it so `particle` is now available from any macro and yah, in case it's needed it can be used.

[2015-08-05 21:32] JoomFX commented on #670
awesome! thanks ;)

[2015-08-05 21:47] w00fz commented on #669
We never used the form action for saving, it always follows the URL. In this case the issue is that when you access it from the `Hydrogen Theme` button on the sidebar, the view `&view=configurations/default/styles` is missing and the save fails.

I hacked the JS to force adding the default view in the URL whenever it's missing but really this should be addressed by fixing the `href` on that button

[2015-08-05 21:51] w00fz commented on #669
I'll close this since it is technically fixed but I really think it should be addressed differently than via JS.

[2015-08-05 21:51] #669 closed

[2015-08-06 00:07] Hertak commented on #676
I think this is not a bug. You need add a "/"  on Base Path in logo particle or basic settings

[2015-08-06 01:40] #556 closed

[2015-08-06 01:43] w00fz commented on #556
Woohoo, thank you @adi8i that video made it possible for me to reproduce it :)
I am so annoyed by the amount of time it took me to fix this and then look at the fix! Just a stupid typo.

Seriously, look at that! https://github.com/gantry/gantry5/commit/1f5cafc0cf32c79477d78ddb8c31f63d30225ef2#diff-64b3a997d57f852412d93894216b05e6

At least now it's sorted! :dancer:

[2015-08-06 01:59] w00fz commented on #618
@arivera12 Any luck with the suggested fix from Matias?

[2015-08-06 06:24] DanGthatRokGallery commented on #649
I can confirm castor01's finding.
I tried this on a users site:

http://www.trexmag.com / reviews123 -> normal 404
http://www.trexmag.com / reviews / hotels123 -> Crikey 404
http://www.trexmag.com / reviews / hotels / 123-> normal 404

If the bad URL occurs after the 2nd slash then the Crikey occurs.

[2015-08-06 07:32] #678 closed

[2015-08-06 07:35] mahagr commented on #680
I agree; while I would love to have this feature yesterday, there's just too many things we still need to fix before I would take a look into this.

[2015-08-06 07:37] mahagr commented on #672
Confirmed to be working. Cool!

[2015-08-06 07:43] mahagr commented on #669
The issue in WP is that there's no way to add those details to the page in WP; I can only set &page=layout_manager and that's it. WP doesn't allow me to add any other parameters as far as I know.

I agree that there must be better way to fix this, but we can take a look into it later.

In the mean time, thanks!

[2015-08-06 07:48] mahagr commented on #330
@omikron Can you please check the latest CI build just in case if it's fixed. You can also contact me in gitter https://gitter.im/gantry/gantry5 as I'd like to check out your site.

[2015-08-06 07:51] newkind commented on #669
Maybe this : http://wordpress.stackexchange.com/questions/114810/how-to-create-sub-menu-with-a-url-parameter ?

[2015-08-06 07:55] marktaylor46 commented on #680
Ok, I hadn't expected it would be any time soon. I was surprised that this ticket got tagged as "question" and "closed" though. I had expected it to be "future release" and "enhancement" and left "open" for now.

[2015-08-06 08:58] #681 closed

[2015-08-06 09:01] mahagr commented on #681
Alright, you will now get the error dump only if one of these conditions are true:

* Gantry is in development mode
* Debug mode has been enabled in Joomla
* User is logged in and has admin rights for managing the template

[2015-08-06 09:02] mahagr commented on #669
@newkind Can you create new low priority issue on this?

[2015-08-06 09:02] newkind commented on #669
sure

[2015-08-06 09:04] mahagr commented on #680
We are trying to keep number of issues as low as possible. I think this feature will be implemented somewhere after we have implemented support for Grav as we can likely reuse code from there.

[2015-08-06 09:04] newkind opened #682 "Gantry 5 admin should have view parameter in the url"
This is a low priority ticket to make a proper fix #669 Basically G5 admin page (theme options page) should pass extra view parameter in the url &view=configurations/default/styles

[2015-08-06 09:07] kat05 commented on #665
fix confirmed!

[2015-08-06 09:09] mahagr commented on #676
In that case logo shouldn't have link at all if the setting is empty :) So still a bug.

[2015-08-06 09:12] mahagr commented on #649
I disabled Crikey messages altogether when you're in production mode (with some additional conditions, like not being in debug mode and user not being admin), so at least there will not be an error when the site is in production.

This one still needs to be fixed, though.

[2015-08-06 09:42] kat05 opened #683 "Frontend article editor, article popup issue"
On the frontend article editor's article popup, there are some layout issues, please see pics.
This has recently been fixed in Salient itself (during pre-release testing, tickets JTEMPSALIENT-36 and JTEMPSALIENT-55), but I now noticed it's also an issue in Hydrogen, Callisto, Ethereal and Ambrosia and should probably be addressed in Gantry itself.

![g5_frontendeditor_article3](https://cloud.githu

[2015-08-06 11:15] kat05 opened #684 "Frontend article editor, image popup issue"
On the frontend article editor's image popup, there are some layout issues, please see pic.
This has recently been fixed in Salient itself (during pre-release testing, tickets JTEMPSALIENT-37 and JTEMPSALIENT-56), but I now noticed it's also an issue in Hydrogen (slightly different than the others), Callisto, Ethereal and Ambrosia and should probably be addressed in Gantry itself.

![g5_frontendar

[2015-08-06 11:51] kat05 commented on #622
people are still reporting issues with latest ci builds, so i asked for login details:
http://www.rockettheme.com/forum/joomla-template-ambrosia/245737-twig-runtime-error?start=0#1223981

[2015-08-06 11:57] kat05 opened #685 "WordPress - Search widget issues"
I've added a Search widget to the Showcase and Navigation section and the font color for the input is not readable. I guess this happens in other sections too.

![g5_wp_searchcolor](https://cloud.githubusercontent.com/assets/5719486/9111026/14502254-3c43-11e5-9b69-9402985f4c34.png)

[2015-08-06 12:50] arivera12 commented on #618
Nope, I just written my own class for accessing the db instead of using the joomla db class.

[2015-08-06 15:16] mahagr commented on #622
@kat Latest CI (from few hours back) will allow users to disable our error screen when they put Gantry into production mode and disable debug mode in Joomla. Installed latest Ci into the site and put it into production to avoid getting the error.

[2015-08-06 15:27] mahagr commented on #622
Alright, the issue is still there in development mode, but production is all good.

[2015-08-06 16:17] kat05 commented on #683
In Hydrogen, I only see the issue in the first screenshot fixed. The other 2 are still showing.
Also try hovering on the 'Search' and 'Clear' buttons to see another issue.

Callisto has the same issues as Hydrogen + the 'Filter' input field takes full width across the popup.

[2015-08-06 16:21] kat05 commented on #683
Ethereal still has the same issues as Hydrogen still has.

[2015-08-06 16:24] kat05 commented on #683
Ambrosia has the same issues that Hydrogen has + when clicking on any of the filter dropdowns, the filter input field gets pushed up a bit and partly hidden.

[2015-08-06 16:36] w00fz commented on #680
Hey Mark, don't take it personally.
The reason I flagged it as a question is only because I gave you an answer rather than actual code. The reason I closed it is because this has been already mentioned in other tickets, was discussed in different blog posts and we have it in our list of things to work on for Gantry in the future.

I just didn't want to leave it open and occupy yet another spot in

[2015-08-06 16:41] marktaylor46 commented on #680
Not taken personally at all - I was just a little bemused by the process. If it's in other tickets that are already open then fair enough - can you let me know ticket numbers though as i couldn't find any? Is the "list" for future developments publicly available? For me I would have thought it made sense to keep "issues" flagged as "future projects" open so the whole community can see?

Just an id

[2015-08-06 16:45] w00fz commented on #680
#218 and #339

I'm going to create a wiki, here on GitHub, with a list of things we discussed and plan of adding sooner or later, so that it's available for public.

[2015-08-06 16:52] w00fz commented on #618
Well I'm sorry about that, if you ever figure out what was the issue or you have additional informations to help us track it down, please let us know.

In the meantime I'm going to mark the issue as closed, feel free to reopen if needed.

Thanks.

[2015-08-06 16:52] #618 closed

[2015-08-06 17:01] newkind opened #686 "Possibility to define in theme which blueprints should be used and which not"
Possibility to define in theme which blueprints should be used and which not in the content tab. This is needed if we want to have blueprints in the nucleus and not force developers to use every blueprint that's inside of there. This needs to be overridable from theme.

[2015-08-06 17:02] newkind opened #687 "Move comments layout from php to twig with support for the wp core funcitons"
Move comments layout from helper.php to twig with support for the wp core funcitons

[2015-08-06 19:43] simmonsr opened #688 "Delete Home Outline - WordPress"
WordPress Hydrogen. If I try to delete Home Outline, it remains, even though it says Succesful "Configuration Deleted" in the bottom right.

[2015-08-06 19:44] simmonsr opened #689 "'Configuration' to 'Outline' change"
A couple text changes still needed:

![screen shot 2015-08-06 at 2 41 37 pm](https://cloud.githubusercontent.com/assets/5002814/9121705/a767ab56-3c49-11e5-9a1b-23e656525420.jpg)
![screen shot 2015-08-06 at 2 42 28 pm](https://cloud.githubusercontent.com/assets/5002814/9121706/a774c4d0-3c49-11e5-8430-85c5a47640d5.jpg)

[2015-08-06 19:56] #689 closed

[2015-08-06 20:56] kevlardev commented on #683
There is definitely a larger issue here, all of this stuff was styled properly before. It seems that the rules from the nucleus joomla css are no longer being loaded in popups, which is causing all of this missing styling. However the theme specific (hydrogen-joomla.css, etc) platform css is loading, which is why theme side fixes will work.

[2015-08-06 21:27] simmonsr opened #690 "[WORDPRESS] Content Settings Not Taking Effect for Menu Items"
Whether using Base Outline or Additional Outline, any menu item (other than Homepage) is not accepting, for instance, the unpublishing of detail text for author, title, date, comments for Posts via our Content Settings.

Unfortunately for a Page, when trying to hide the Title via Content Settings, it doesn't accept it either, even it was on the Home Page.

![screen shot 2015-08-06 at 4 20 45 pm](h

[2015-08-06 22:26] w00fz commented on #680
There you go @marktaylor46 https://github.com/gantry/gantry5/wiki/Gantry-5-Agenda,-Exploration-and-Time-Travel

[2015-08-06 23:03] alisamii commented on #680
Djamil,

In any of those items listed on this great wiki page, is there an item that will allow adding menu page suffix classes to the body tag so that we have a CSS class for each menu item the way it was possible to do in Gantry 4.

These generated a css class on the body tag with the syntax `menu-menu_name`. For example, home would get a class `menu-home` and the about menu would get the class

[2015-08-07 07:39] marktaylor46 commented on #680
@w00fz Thanks for that - that's very helpful for the whole community :)

[2015-08-07 07:42] marktaylor46 commented on #680
@alisamii Gantry 5 already adds itemid-999 (where 999 is menu item id) this is the equivalent of Gantry 4 and "menu-about" etc but better since it uses the menu id rather than the alias (so you can change alias without having to change CSS).

Also, page class on menu item is now rendered too (it wasn't in early releases of Gantry 5).

Regards, Mark.

[2015-08-07 09:37] mahagr commented on #690
@simmonsr Can you try again; not sure if it fixes your issue, but at least what you described works now for me.

[2015-08-07 09:56] kat05 commented on #683
ok double checking on SALIENT , it's not fully resolved either.

- the filter input field is taking full width
- when hovering on any of the headers such as 'access', 'category', 'language', the tooltips are misplaced to the left
- when hovering on the 'search' and 'clear' buttons, there are issues too.

however,
- the pagination is looking fine

[2015-08-07 10:06] kat05 commented on #684
this is still an issue as mentioned on hipchat.

[2015-08-07 10:20] kat05 commented on #688
Hey Reggie, is this using CI build or hebe linked?

It's been a week or so and I am almost certain I was able to delete the Home outline on both.
It's currently working fine for me hebe linked, but will retry with latest CI build too.

[2015-08-07 11:05] kat05 commented on #683
The commit that Matias provided fixes almost all issues.

An issue that's left is with the pagination, please see pic.

![single_article](https://cloud.githubusercontent.com/assets/5719486/9134494/e3832780-3d04-11e5-8b67-ff65ae4383eb.png)

[2015-08-07 11:07] kat05 commented on #683
Protostar loads those icons correctly.

For the missing 'Forward' icon (2nd blue arrow) I see the class is the following in Hydrogen:
```<span class="icon-step-forward"></span>```

while it should be the same as Protostar:
```<span class="icon-next"></span>```

[2015-08-07 11:15] kat05 commented on #683
Ok, so for all 4 icons from left to right, Protostar uses the following:

```<span class="icon-first"></span>```

```<span class="icon-previous"></span>```

```<span class="icon-next"></span>```

```<span class="icon-last"></span>```

And Hydrogen etc. use these instead:

```<span class="icon-backward"></span>```

```<span class="icon-step-backward"></span>```

```<span class="icon-step-forward"><

[2015-08-07 11:33] kat05 commented on #684
looks better, but there are some issues left, please see pic for Hydrogen:

![g5_front_hydrogen](https://cloud.githubusercontent.com/assets/5719486/9134889/d1f4e130-3d08-11e5-97de-cef42c4dd835.png)

[2015-08-07 12:40] mahagr opened #691 "WordPress: using characters from foreign alphabets like greek or hebrew is breaking front end"
Non-ASCII characters only menu items break frontend

[2015-08-07 14:15] kat05 commented on #688
I can confirm this issue with latest CI build and also hebe linked.

[2015-08-07 14:33] kat05 commented on #690
@simmonsr Just wondering, in the Content tab there are for example 4 settings for Author, one each under Blog, Post, Page and Archive. I did some testing last week and had to disable for several of those to make sure the Author was really gone from all pages on frontend.

[2015-08-07 15:25] kat05 opened #692 "WordPress - changes to WP menu items do not show on frontend"
I have a 2nd level menu item called 'Alignment', which showed up fine on frontend.
Then I went to > Appearance > Menus and for that menu item I changed the Navigation label to 'Alignmentsssssss'.
Refreshing the frontend will keep showing 'Alignment'.
Then I went to the G5 Menu editor and changed the name to 'AlignmentSSS'.
This will then be shown on frontend.

Anyways, any changes inside the WP me

[2015-08-07 15:28] kat05 commented on #692
Just a note, I now deleted a menu item from the WP menu editor and that got correctly removed on frontend too.

[2015-08-07 15:33] kat05 commented on #692
Changing the order of menu items in WP menu manager, also does not have any effect on the frontend or the G5 menu editor.

[2015-08-07 15:38] kevlardev commented on #683
Thats really strange, we arent altering the classing of any joomla output in hydrogen. I have no idea why those class names for pagination would be different

[2015-08-07 16:21] #684 closed

[2015-08-07 16:25] kevlardev commented on #683
![screen shot 2015-08-07 at 11 22 24 am](https://cloud.githubusercontent.com/assets/4529755/9140431/cd3e8cf2-3cf6-11e5-8848-e8010438b3fd.png)
This is reproducible in protostar if you remove protostar's custom pagination.php override. Its definitely a joomla core issue and seems they have fixed it for the 3.5 release: https://github.com/joomla/joomla-cms/pull/7175

[2015-08-07 16:25] #683 closed

[2015-08-07 19:15] simmonsr commented on #690
The "Home" Page Title isn't supposed to be showing I don't think:

![screen shot 2015-08-07 at 2 12 20 pm](https://cloud.githubusercontent.com/assets/5002814/9143848/66302c6a-3d0e-11e5-9668-94ea9184078a.jpg)
![screen shot 2015-08-07 at 2 12 44 pm](https://cloud.githubusercontent.com/assets/5002814/9143849/6634d620-3d0e-11e5-8ad0-64827641a19a.jpg)

[2015-08-07 19:32] #690 closed

[2015-08-07 19:55] #685 closed

[2015-08-07 22:05] newkind opened #693 "Ability to add a variation to widget on widgets page"
We need an extra selectbox field in the Widgets, that would allow users to use a variation for a widget.

[2015-08-08 06:01] newkind opened #694 "Make breadcrumbs particle or widget"
Make breadcrumbs particle or widget

[2015-08-08 06:48] newkind opened #695 "Hide "Widget Position" and "Widget" from Settings tab"
Hide "Widget Position" and "Widget" from Settings tab - they aren't needed there and they're super confusing.

[2015-08-09 13:10] castor01 commented on #649
Hi mahagr,
the error still remains. Your settings described change nothing.

[2015-08-10 08:35] bob-ludvigsen commented on #464
Hi
The problem still exists, I have an installation with Joomla! 3.4.3 and Gantry v5.0.1 / g5_hydrogen

The html is stripped on save..

[2015-08-10 12:04] kat05 opened #697 "WordPress - menu editor missing 2 options"
In the Menu editor, when editing an item, the options for 'Image' and 'Icon Only' which are present in Joomla, are missing in WordPress.

![g5_wp_menueditoroptions](https://cloud.githubusercontent.com/assets/5719486/9171039/9bff8924-3f68-11e5-8ebb-d9cad392700e.png)

[2015-08-10 12:05] kat05 commented on #464
reopening this for now, will do some testing in a bit to see if i can replicate

[2015-08-10 17:39] mahagr commented on #693
What's the variation of the widget?

[2015-08-10 17:40] mahagr commented on #695
Same as #621?

[2015-08-10 17:42] mahagr commented on #649
@castor01 Did you remember to disable debug mode from Joomla as well as put the theme into production mode?

[2015-08-10 18:21] w00fz commented on #693
Isn't this what the Block -> Variation is for? Like for any other Particle?

[2015-08-10 19:34] newkind commented on #693
Yah, but what about widgets placed on the Appearance > Widgets page ? For example you could place a single widget position in the Layout Manager, then on the Appearance > Widgets page place couple widgets, and you might want to set each of them a different variation.

[2015-08-10 19:35] newkind commented on #695
Yah, duplicate. Sorry. Closing.

[2015-08-10 19:35] #695 closed

[2015-08-10 19:46] #675 closed

[2015-08-10 19:47] w00fz commented on #675
Alright I added this to its own setting, really no other way around it. Looks like this now for root levels and sublevels.

![disable dropdowns](https://cloud.githubusercontent.com/assets/11734/9182132/f3bd7352-3f5d-11e5-998a-ecaee6f9593d.jpg)

[2015-08-10 19:50] w00fz commented on #693
Every time you drop a Widget instance in the LM, it's an instance of it's own. I can have 2 of the same Widgets in the Layout Manager with different classnames and variations in the Block panel, they won't interfere with each other.
It's like the Position Particle, you can have 10 in a page all with different or shared variations and the Particle is still 1 (position).

Unless I'm missing somethin

[2015-08-10 19:52] newkind commented on #693
Yah, but this forces you to use Widget Instances in Layout Manager. What if you need to use position and place the widgets in the native WP core widgets page ?

[2015-08-10 20:17] w00fz commented on #676
I don't see this issue @kat05. I disabled SEF, went to a subpage (Typography of Callisto) and clicking the Logo took me back to the Home page.

[2015-08-10 20:25] Hertak commented on #676
@w00fz  The problem is with hydrogen theme.
On Logo configuration don´t have / for default if you add the slash there is no problem.
I think the solution is on hydrogen theme put on logo particle the slash.

[2015-08-10 20:28] w00fz commented on #676
It doesn't need a `/` by default because in the particle it already defaults to `siteUrl()`

[code]

So it is on purpose that if left blank it will take you to the homepage. Although I tried with both SEF and non-SEF and I get the same expected behavior on both.

[2015-08-10 20:31] Hertak commented on #676
Ok. When i use without slash the hydrogen theme the logo url don´t work.

[2015-08-10 20:34] w00fz commented on #631
I can't seem to be able to replicate this at all.
I even tried adding an outdated version of another Library plugin, thinking perhaps that was causing some sort of confusion, but it works just fine.
You guys have any suggestion on how I can replicate this on my local?

[2015-08-10 20:38] w00fz commented on #676
What do you mean it doesn't work? Are you getting a link added?
When I'm in Hydrogen and leave empty the URL field, on frontend i get `<a href="/" ...`

[2015-08-10 20:43] #629 closed

[2015-08-10 20:46] w00fz commented on #575
Have a look here https://github.com/gantry/gantry5/wiki/Gantry-5-Agenda,-Exploration-and-Time-Travel, I outlined an Agenda for the future version of Gantry 5 which includes a description of what's been asked here.

[2015-08-10 20:53] w00fz commented on #662
I considered it a duplicate because it involves Android Firefox there too. I believe the issue is purely related to the browser itself and there isn't much we can do about it.

[2015-08-10 21:40] w00fz commented on #555
Ok so I have enhanced how the default Outline look in the Outlines page, giving it a bit of highlight so it stands out. It is also noticeable because it's the only one that cannot be deleted of the User ones:

![default-outline](https://cloud.githubusercontent.com/assets/11734/9184939/333907da-3f6d-11e5-8d0f-1ec11dab3b60.jpg)

I didn't want to add extra data in the Outlines dropdown, I think it's

[2015-08-10 21:41] #555 closed

[2015-08-10 23:14] w00fz commented on #676
Nevermind, I couldn't reproduce the issue because it was already fixed with #479 @ 61b94a2.
It is already fixed in the latest CI Build.

[2015-08-10 23:14] #676 closed

[2015-08-10 23:19] w00fz commented on #464
I am not able to reproduce this one.

[2015-08-10 23:23] w00fz commented on #464
Can you check the file `modules/mod_gantry5_particle/mod_gantry5_particle.xml` and see if you have the `filter="raw"` for the field:

[code]

The only reason that would not work is because perhaps the update didn't replace that file. Although this seems to be fine in a 5.0.1 package.

Another thing that comes to mind is that perhaps you have other content plugins interfering and stripping out HTML

[2015-08-11 00:04] w00fz commented on #451
Ok now the Atoms section is behaving a bit differently than the others. A maximum of 5 Atoms are displayed per row and the 6th will go in a new row. This is different than a Grid, think of it as a floating, it is still as if it was 1 big row that wraps.

![atoms](https://cloud.githubusercontent.com/assets/11734/9187122/e1e7dc7a-3f81-11e5-889d-683d2cc85d06.jpg)

[2015-08-11 00:04] #451 closed

[2015-08-11 00:10] w00fz commented on #340
Have a look here guys https://github.com/gantry/gantry5/wiki/Gantry-5-Agenda,-Exploration-and-Time-Travel

Collection of G5 things we plan to do

[2015-08-11 00:16] w00fz commented on #487
This seems to be fine for me, I cannot reproduce with latest Gantry and Hydrogen (5.0.2).
Can you test if this is still an issue for you?

[2015-08-11 00:21] w00fz commented on #641
I think this can be easily accessible via the Outlines Page, I don't think we should add too much informations in the dropdown. See also #555

[2015-08-11 00:21] #641 closed

[2015-08-11 00:29] w00fz commented on #676
Be nice if you guys could try the CI Build, just to make sure! :smile:

[2015-08-11 05:42] mahagr commented on #631
I'm also not able to replicate this; the issue only exists if using CI builds, which is how we intended it.

I just checked and we are using the same SQL query (just without extra filters) as Extension manager.

[2015-08-11 06:29] #697 closed

[2015-08-11 06:31] bob-ludvigsen commented on #464
The filter="raw" is in that field.
I have a clean installation with only Akeeba and Gantry as extras..
There is no problem in the module manager..

[2015-08-11 07:35] DanGthatRokGallery commented on #487
user issue - need long form of URL

[2015-08-11 07:35] #487 closed

[2015-08-11 08:03] DanGthatRokGallery opened #698 "Menu start & Max levels don't work"
With a Joomla core install (3.4.3) and the About Joomla set as the Default menu, as it is a multi-level menu, when I attempt to alter the start & Max levels they don't seem to have any affect on the front end display of the menu.

If I choose the Main Menu then I get no menu showing in the front end along with this error message ""Error while rendering menu particle"

User issue is here -> http://

[2015-08-11 09:13] marktaylor46 commented on #673
There are tools available to assess web accessibility and offer suggestions - here is one such tool http://wave.webaim.org/

It might be difficult to use this on admin - but i'm sure there's a way.

I hope that helps.

[2015-08-11 09:40] #698 closed

[2015-08-11 09:42] mahagr commented on #666
I believe that this has now been fixed in #698. Please reopen if it's still issue for you.

[2015-08-11 10:00] JoomFX commented on #675
Great!
Thanks @w00fz :)

[2015-08-11 10:05] JoomFX commented on #676
@w00fz I have very similar issue with the site I'm currently building.
It is actually reproducible only on the Error Page. I mean, when I'm on the Error Page and click on the Logo it just reloads the page and stays on the Error Page instead of going to Home (index.php/siteUrl).

I then tested it with the latest CI build and the issue was no longer reproducible :)

[2015-08-11 10:15] marktaylor46 commented on #631
@w00fz @mahagr Try the members site - login included in topic. That site is only using Gantry 5.0.1 (not a CI build) yet that message keeps returning - you can clear cache and it goes, log out and back in again though and it will be back again.

[2015-08-11 10:17] marktaylor46 commented on #629
cheers :)

[2015-08-11 10:20] marktaylor46 commented on #555
Ok - I would have preferred what i suggested but I understand your reasoning. Having to go out of Gantry 5 admin to look at template manager and then go back to Gantry 5 admin seems a bit long-winded to me when the info could be in the dropdown - but fair enough.

[2015-08-11 10:37] JoomFX commented on #487
I'm not sure if these are related at all, but still... have a look at the issue I opened in the Joomla CMS repo - https://github.com/joomla/joomla-cms/issues/7204

[2015-08-11 11:39] castor01 commented on #649
Hi mahagr,
I am sure to have everything set up correctly. I can give you an admin access, then you can test yourself.

[2015-08-11 12:12] mahagr commented on #649
You can ping me in a private gitter chat.

For public chat go to https://gitter.im/gantry/gantry5 (you'll find my user from there).

[2015-08-11 14:19] mahagr commented on #487
It's the same issue.

[2015-08-11 16:06] mahagr commented on #692
Should be fixed now.

[2015-08-11 16:06] #692 closed

[2015-08-11 16:29] #587 closed

[2015-08-11 16:38] pablotll commented on #666
I'm sorry to keep bothering with this but no, #698 did not fix this issue. As far as I can see, #698 had to do with max levels and I believe this issue has to do with Start Level.

With the fiix to #698 you can now assign max levels and it works, but if the value you modify is start level the menu doesn't show.

I believe the problem is with the IF that controls the start level.

Thank you.

[2015-08-11 16:41] mahagr commented on #666
Menu is only shown if it is active. So if you first enter to the first shown menu level, then menu shows up.

[2015-08-11 16:42] w00fz commented on #464
I am not entirely sure why this would be a problem. On my local I cannot reproduce it and being `filter="raw"` it means all the HTML should be preserved.

Would you mind trying out the CI Build? Perhaps is something we fixed after 5.0.1. http://gantry.org/downloads#ci-builds

[2015-08-11 17:01] w00fz commented on #631
I did see it on her site but unfortunately it's of no help if I can't reproduce it on my local.
The only thing I can think of is the DB being out of sync.

Did you try installing a CI Build and then revert back to stable or also just install stable on top of the current one, to see if it goes away?

[2015-08-11 17:10] federone commented on #451
thank you so much,

Best regards,
Federico

[2015-08-11 17:21] marktaylor46 commented on #631
yup tried that and it didn't.

[2015-08-11 17:27] #651 closed

[2015-08-11 17:31] kat05 commented on #631
can't we zip her install and get the database, so that you can try it on your local?

[2015-08-11 17:35] kat05 commented on #464
Ok, so
JoomFX said it's fine in the Layout Manager, so he had the problem in the Module Manager?
bob-ludvigsen says it's NO problem in the Module Manager.
Not sure both are talking about the same issue?

I'll do some testing to see what happens.

[2015-08-11 17:37] w00fz commented on #464
This issue was specific to the G5 Particle Module, not the LM in G5 admin. If that's the case then we are talking about a different issue.

[2015-08-11 17:45] kat05 commented on #464
Ok, I can not replicate an issue with the G5 Particle Module, hebe linked. I guess this can be closed and if @bob-ludvigsen still has an issue maybe he can start a new ticket with more details.

[2015-08-11 17:46] #464 closed

[2015-08-11 17:46] w00fz commented on #464
Cheers.

[2015-08-11 17:48] #621 closed

[2015-08-11 18:11] marktaylor46 commented on #631
There is no backup software on her site (e.g akeeba backup).

[2015-08-11 20:12] pdubois95 commented on #489
I don't see a new changelog for ambrosia - will this fix be pushed soon ?

[2015-08-11 21:15] kevlardev commented on #657
fixed with c22c4823c79000c998b40a74929ca31ac0bcdc38

[2015-08-11 21:15] #657 closed

[2015-08-11 23:49] JoomFX opened #699 "Google Font issue when RokBooster is enabled"
The thing is that only one font gets imported:

![alt](http://i.imgur.com/aThEmZ6.png)

While two should be imported:

![alt](http://i.imgur.com/esWIVn3.png)

The font loaded first (Body Font) will be the only one that will work.

Steps to reproduce:

1. Install the default G5 + Hydrogen (CI build)
2. Select two different Google fonts for "Body Font" and "Heading Font". MUST be different!
3. Reloa

[2015-08-12 00:52] w00fz commented on #699
This is not really a Gantry 5 issue but RokBooster. Anyway I was able to fix this and it will be available with RokBooster v1.1.15.

Cheers!

For internal reference: ROKBOOSTER-73

[2015-08-12 00:52] #699 closed

[2015-08-12 05:53] newkind opened #700 "Menu Whoops error when re-editing menu item"
Steps to reproduce :
1. Edit root level menu item
2. Add icon and subtitle
3. Hit "Save and Apply"
4. Try editing the menu item again

![callisto theme e2 80 b9 gantry5 wordpress e2 80 94 wordpress 2015-08-12 07-38-55](https://cloud.githubusercontent.com/assets/1641534/9217373/1c5167dc-40c7-11e5-86fe-b092d7edb8b0.png)

[2015-08-12 05:55] mahagr commented on #700
I cannot reproduce this locally so I'll wait Jakub to get back in order to get more details on what goes wrong.

[2015-08-12 05:59] mahagr commented on #693
@kevlardev How did we deal with this in Joomla? I thought we only support assigning classes in the block level, or can those classes also be used from Joomla modules?

[2015-08-12 06:27] mahagr commented on #673
@lilmike Can you take a look on current CI builds if they help at all?

Any further feedback is highly appreciated, thanks!

[2015-08-12 06:33] castor01 commented on #649
@mahagr I have snd you a mail under 'matias@kunena.org'

[2015-08-12 06:50] alisamii opened #701 "Disable the drop-down menu icons from the menu manager setup parameters"
It would be great if we could add a simple checkbox to the menu settings that would allow you to disable the display of the drop-down menu arrow and cross icons.

As you can see from this screenshot, the icon takes up just enough space on my menu to wrap the menu on the last item and push it down to a new row.

This occurs on iPad landscape view.

It would be nice if we could set the menu not to d

[2015-08-12 07:00] alisamii opened #702 "Make logo particles image responsive"
Does gantry have a class similar to the bootstrap `.img-responsive` class which, according to Bootstrap  applies the following:

It would be helpful if something like this would be available as one of the core variations available from the drop-down In a particles settings, especially in regards to things like the logo particle.

On my menu system, the logo is displayed using a logo particle dropp

[2015-08-12 07:20] kat05 commented on #700
i can confirm this issue, it seems to be a new one, I remember doing this several times last week and did not run into the error.

![g5_wp_whoops](https://cloud.githubusercontent.com/assets/5719486/9218498/576022d0-40d3-11e5-9e56-0aa6c97f7496.png)

[2015-08-12 07:22] kat05 commented on #700
I might be wrong of course, but then I previously tested the menu and did not have the above mentioned issue, this fix https://github.com/gantry/gantry5/issues/697 had not been implemented yet. Not sure though if this change could cause the error or not. Just wanted to add the info in case it might be helpful.

[2015-08-12 07:24] mahagr commented on #649
That works too, thanks!

[2015-08-12 07:31] kat05 commented on #700
@mahagr  my install is a core wp install with callisto and gantry hebe linked. also, after i received the above error, i closed the menu editor, then reopened it again and reselected the menu that i previously edited. i now see this:
1. it tells me that the menu is empty which is not correct.
2. the dropdown has changed its layout and is no longer usable, please see pic

![g5_wp_menuwhoops](https:

[2015-08-12 07:38] kat05 commented on #700
I have now deleted the problematic menu item and now the menu will load correctly again in the g5 menu editor.

[2015-08-12 08:11] mahagr commented on #701
You can just display one level of the menu (needs latest CI build). That will disable dropdown. You cannot just hide icon button only as it has different meaning than the item itself (for touch devices, including many laptops).

[2015-08-12 08:14] mahagr commented on #700
Please try to find reliable way to reproduce it!

[2015-08-12 08:19] kat05 commented on #700
I just followed the exact steps that Jakub mentioned in his original post.

[2015-08-12 08:38] JoomFX commented on #699
Wow! Man, that was quick :D
Thanks a lot Djamil!

[2015-08-12 08:51] mahagr commented on #649
For some unknown reason I cannot reproduce the issue locally -- on the other hand I'm getting a blank page and not 404, so its different kind of issue.

Maybe there's something different in my installation; I would like to know how did you install joomla / gantry / template?

[2015-08-12 08:53] mahagr commented on #649
Ok, I am able to get it in demo server...

[2015-08-12 09:36] castor01 commented on #649
1. Joomla is installed from a provider package
2. The entire Joomla installation on the server is replaced by a local version

[2015-08-12 09:48] mahagr commented on #649
I was able to fix this; I think it was issue caused by a small change in the error handling library we are using.

[2015-08-12 09:53] #649 closed

[2015-08-12 10:36] alisamii commented on #701
Hi Matias,

Disabling the drop-down defeats the purpose of having the menu drop down, which I need.

The arrow/cross icon isn't a required element unless your site requires that users close the menu manually to proceed. It's functionality, furthermore, could be placed within the drop-down directly rather than in the Parent element.

I can override it in css but that's not the same as having the op

[2015-08-12 11:27] lilmike commented on #673
Hi,
It looks alot better in the hydrogen settings, though I wasn't able to
test the layout creation because I couldn't find where it was. I looked
under appearance, but it didn't seem to be there. Anyway, so far, so
good :-).
-Michael.

On 8/12/2015 1:27 AM, Matias Griese wrote:

[2015-08-12 11:48] kat05 opened #703 "gantry5/git/gantry5/src/platforms/wordpress/Framework/Menu.php contains some joomla references"
gantry5/git/gantry5/src/platforms/wordpress/Framework/Menu.php

contains some joomla references, those should probably be removed.

[code]

[2015-08-12 12:02] mahagr commented on #673
Layout presets (meaning sections, rows and columns) cannot be created from UI, you need to use simple YAML format to create your own custom layouts. We have some plans on making it easier in the future. Instructions on how to do that can be found from our documentation:

http://docs.gantry.org/gantry5/advanced/creating-layout-presets

If you mean creating Joomla layouts, you can just do whatever y

[2015-08-12 12:03] kat05 opened #704 "Wordpress - Deprecated SCSS mixins / functions"
On a WP install running Hydrogen, Callisto and Gantry hebe linked, I loaded Jakub's sample pages and menus. Then using Callisto, I was using the 'Long-menu' and edited the 'Sticky' menu item to make it 'Icon only' (I also gave it a subtitle, not sure if it's relevant as it does not render on frontend anyways).
Then I reloaded my homepage on frontend and the 'Sticky' menu item showed correctly with

[2015-08-12 12:14] kat05 commented on #704
Ok, I did more testing and it also happens on other pages and also on that 'Sticky' page, even without using a menu icon and subtitle.

Whenever I clear my Gantry5 cache and then try to visit any page on frontend, I am getting that same error.

[2015-08-12 12:22] kat05 commented on #700
It seems that after it is broken, the only way to make it work again, is to go to the WordPress menu editor and resave the menu.

[2015-08-12 12:40] kat05 commented on #666
I've been doing some testing on a core Joomla install which has Gantry, Callisto and Hydrogen hebe linked.

I am using the 'About Joomla' menu which has a 1st level item 'Using Joomla' which has a child item 'Using Extensions'.

Now, with Hydrogen when being on the 'Using Extensions' page and setting Start Level = 2, i do see the 'Using Extensions' menu item and its own child items just fine.

How

[2015-08-12 13:58] kat05 commented on #697
confirmed fix.

[2015-08-12 18:39] mahagr commented on #704
@kat05 New error message should reveal a bit more about the issue. :)

I need to find where did I put the sql sample file.. May need to ask it again.

[2015-08-12 19:59] kevlardev commented on #702
All images by default include those values in gantry5 (max-width: 100%; height: auto) the logo particle img is inheriting those as well (so long as the logo element is an <img>). If you place the logo particle elsewhere you will see it scales appropriately. Perhaps there is an issue with it when placed inside a menu due to the way the menu items are structured.

[2015-08-12 20:31] w00fz commented on #701
There are two variations of that dropdown arrow:
 1. The item is a Parent AND a link (fat arrow shows up)
 2. The item is a Parent BUT a separator (simple arrow)

![variations](https://cloud.githubusercontent.com/assets/11734/9235781/cc3df2a4-40f5-11e5-9606-3c772fdcfe34.jpg)

We never encourage nor suggest to ever have a Parent Item being both a Parent and a Link to a page, this has been a huge is

[2015-08-12 20:31] #701 closed

[2015-08-12 20:38] w00fz commented on #673
If you meant the Layout Manager, you can only access it from an Outline that is not `Base Outline`. In `Base Outline` we are hiding that tab.

[2015-08-12 20:49] w00fz commented on #703
Think this was fixed and @mahagr forgot to close it.

[2015-08-12 20:49] #703 closed

[2015-08-12 20:51] w00fz commented on #631
So any of you guys able to reproduce this at all?

[2015-08-12 21:05] w00fz commented on #620
I think those are different errors than the one reported here.
Those are about installing the framework, I've seen that happening before and I think it was also fixed some time ago.

This one error from @Bullnados is about "Enabling Gantry 5 system plugin", which I never seen before happening since it should be automatic after ones install Gantry 5.

@Bullnados is this issue still happening for yo

[2015-08-12 21:19] w00fz commented on #606
I'm going to close this now for inactivity, feel free to add to the issue when you find a fix!

[2015-08-12 21:19] #606 closed

[2015-08-12 21:20] w00fz commented on #492
Alright, I'm going to close this since it's been determined to be a Platform and OS issue and not really Gantry related.

[2015-08-12 21:20] #492 closed

[2015-08-12 21:25] w00fz commented on #87
All questions were answered here so I'm going to close this now. :)

[2015-08-12 21:25] #87 closed

[2015-08-12 21:26] w00fz commented on #567
This was fixed with #565

[2015-08-12 21:26] #567 closed

[2015-08-12 21:26] kevlardev commented on #619
The block variations were created to provide positional and block based style effects. This allows for same height side by side blocks as well as other stylistic effects that are only possible on the block level due to the way the flex structure is set up. Users can either create individual blocks for each module if they want individual modules to be same height, otherwise the adjacent blocks will

[2015-08-12 21:26] #619 closed

[2015-08-12 21:28] w00fz commented on #568
I'm assuming Matias answer helped you here since there hasn't been any reply and I'm closing this.

[2015-08-12 21:28] #568 closed

[2015-08-12 21:55] alisamii commented on #701
Even if the top item is just a separator and not a link, the icon may not fit in with the design. Custom css can be used to disable the display of the icon, yes, but it should be left to the end user/developer to be able to easily use a one click process in the back end to hide the icon.

You are right that there is an issue with touch devices in this regard, but the solution cannot be a one size

[2015-08-12 22:27] Bullnados commented on #620
Yes still happening.
But issue is only after install.After dis/enable manual all is fine.

[2015-08-12 22:47] w00fz commented on #701
I think we can all agree that from the very conception of Menu, a parent menu item has always been represented with text followed by a chevron pointing down. I don't think I have ever seen a parent menu item that wouldn't do that.

Now, I am not saying that hiding the icon is wrong if that's what the design of your template is calling from, but you have to agree that it is kind of specific to your

[2015-08-13 05:46] mahagr commented on #702
I changed this into question for now as we are not yet sure if this is a menu issue or something else.

[2015-08-13 05:51] mahagr commented on #620
@Bullnados Are you installing the package as it is or are you individually opening files inside?

I'm asking this because of the package installer should enable and lock most of the extensions just after all the packages have been installed. Go to installer and from there manage tab. Filter by Gantry and see if most of the Gantry 5 packages are locked..?

[2015-08-13 05:52] mahagr commented on #703
Yeah, I thought that my commit would close this. :)

[2015-08-13 05:57] mahagr commented on #606
And this is really not Gantry issue; it's issue of not using best practices while writing JS code. Using plain $ is really, really bad in Joomla and likely just breaks everything; see no-conflict in jQuery documentation.

[2015-08-13 06:02] Bullnados commented on #620
I think to 95% nothing was locked. But I start a try at weekend. I installed the packege which is linked in HP for joomla

[2015-08-13 06:14] mahagr commented on #701
If you take a look in any of the modern frameworks like Bootstrap 3, there isn't anymore a concept where you have link and a dropdown in a same block element. And if you have, it works just like ours, except that all the dropdowns need to be clicked before you can see the contents of them.

This is because of in some reports over half of the people are using either phones, tablets or touch screen

[2015-08-13 06:19] mahagr commented on #620
If nothing was locked, you have issue in your site. Either package installation was somehow aborted (which you would for sure have noticed) or your Joomla installation doesn't run post-install scripts for some reason.

There are two possible reasons for this:

1) When you update Joomla, there's post-installation check that removes all the extra files from /libraries folder. I've seen a lot of case

[2015-08-13 07:42] marktaylor46 commented on #631
I can't recreate it locally but I have seen this on other member sites too.

[2015-08-13 07:50] Bullnados commented on #620
No. I think updated from 3.3. But surely not 2.5

[2015-08-13 07:58] alisamii commented on #701
Matias and Djamil,

I'm not suggesting throwing away any of the logic. I'm just saying that if you look at many sites, and especially news sites such as CNN BBC or the New York Times, you don't see an arrow or icon next to each menu item name. It just crowds busy menus. So having the ability to hide that icon globally through a setting is a valid request.

Best regards,

Ali

[2015-08-13 09:39] mahagr commented on #701
You can easily customize menu not to have icon, but the side effect is that all of those main menu items need to be separators without a link in them. You can easily create your custom menu particle that does just that.

[2015-08-13 09:43] mahagr commented on #702
@alisamii I was thinking about this and I think you could just add some CSS to make the image in here responsive. Let us know if you find a good way to do it, I'd like to know it for myself, too.

[2015-08-13 10:08] kat05 commented on #704
mmm, i tried a bit and right now i can not replicate it anymore with latest changes. is it possible that it's resolved? let's see if @newkind  can still replicate it.

[2015-08-13 10:19] kat05 commented on #704
Alright, I've now enabled debug in the G5 plugin settings and now I am getting an error again, here is the complete HTML for you :)

[code]

[2015-08-13 10:25] kat05 commented on #631
I did see it locally before, but I've not found that install again, I might have deleted it meanwhile.
Maybe this will resolve itself with the 5.0.2 release anyways. If not, I'll make sure to get you a copy if I see it again on one of my installs.

[2015-08-13 10:26] mahagr commented on #704
So the error is in here:

[code]

[2015-08-13 10:38] mahagr opened #705 "Catch warnings from SCSS compiler"
After updating SCSS compiler, it added support for warnings and errors. Looks like we need to catch those, otherwise the errors get outputted to twig:

    <link rel="stylesheet" href="/wp-content/plugins/gantry5/engines/wordpress/nucleus/css-compiled/wordpress.css?55c8639b" type="text/css" />
    Line 1 WARN: "box-shadow is deprecated and will be removed in the next major version release"
    <li

[2015-08-13 10:41] mahagr commented on #631
The issue comes when for some reason Joomla updates table contains entry for up to date extensions. Normally those entries are not saved into the database. Maybe changing stability settings for updates may contribute to this?

[2015-08-13 10:42] mahagr commented on #673
Moved this issue into 5.0.2 milestone as it doesn't only affect WP and the implementation has already started.

[2015-08-13 11:38] kat05 commented on #649
this all seems to work fine for me now with joomla debug = off and g5 in production mode.

[2015-08-13 12:38] mahagr commented on #649
Should also be fine with debug turned on.

[2015-08-13 13:11] marktaylor46 opened #706 "Unsupported CI Builds versions in Changelog"
I just tried latest CI build to try the new "change log" link and got a server500 error

Windows 10 PC.

nothing in apache error log
![2015-08-13_14-02-27](https://cloud.githubusercontent.com/assets/11683218/9250473/24f4b2aa-41c5-11e5-8f03-9cf77347db5e.png)

[2015-08-13 13:22] kat05 commented on #706
I am getting the same error to on Mac OS.

[2015-08-13 13:46] kat05 commented on #700
@newkind  i can no longer replicate this issue today. i deleted my previous install and started fresh and it's no longer happening for me on this new one.

[2015-08-13 13:55] kat05 commented on #649
Yea, works with debug enabled too, it's showing the Call stack, but so does Protostar, so all seems well.

[2015-08-13 14:23] newkind commented on #704
Fixed in fb7b3f6

[2015-08-13 14:23] #704 closed

[2015-08-13 14:55] kat05 commented on #704
I can no longer replicate this issue, seems the fix works.

[2015-08-13 15:48] #688 closed

[2015-08-13 15:53] #625 closed

[2015-08-13 15:53] kevlardev commented on #693
They are only supported on the block level. With the way the layout works, individual items are "blocks" with each block utilizing the flex rules that provide size as well as same height functionality as well as the margins and paddings for each. In order for those variations to work and be assignable from the layout manager, they must be on the block level outside of the platform. Our goal was to

[2015-08-13 15:56] #693 closed

[2015-08-13 16:24] castor01 commented on #649
online tested - now it works fine without errors

[2015-08-13 17:06] #706 closed

[2015-08-13 18:19] w00fz commented on #673
Closing this. A lot of improvements have been made for accessibility and will be available in the next version.

[2015-08-13 18:19] #673 closed

[2015-08-13 18:20] mahagr opened #707 "Missing preview image in Hydrogen template"
There is typo in MD5SUMS file making Joomla to think it should be appended to all assets.

[2015-08-13 18:31] w00fz commented on #620
Would be really helpful to understand if this is an isolated issue on that setup only or if it is perhaps some server configuration preventing the post-installation to get triggered.

Is it possible for you to create a brand new and fresh Joomla setup and try to install a [CI Build](http://gantry.org/downloads#ci-builds) in it, to see if that automatically enables the system plugin as well as lock

[2015-08-13 18:33] marktaylor46 commented on #673
Please note member was kind enough to leave some feedback here - some of that would suggest to me that there is still work to be done in this area?

http://www.rockettheme.com/forum/general-discussion/246086-accessibility-for-gantry-5

So should we raise a new issue so this get's addressed?

[2015-08-13 18:36] w00fz commented on #673
Definitely. We considered this ticket for initial accessibility support.
We are still working on adding even more support for it as well as optimizing areas were needed. @kevlardev has been doing a sweet job on it!

Although now issues related to this should be opened in separated tickets, just to make it easier for us to track down and get more specific details about it.

Cheers!

[2015-08-13 19:42] Bullnados commented on #620
Thanks for Screenshot. Here is my one directly after new installation:
![unbenannt](https://cloud.githubusercontent.com/assets/11041576/9259768/e1a8af1c-4203-11e5-835d-1b6a70c8e9d0.PNG)
New Joomla installation need some time.

[2015-08-13 19:43] w00fz commented on #620
So this one is the same installation where you don't get the System plugin automatically enabled after install?

[2015-08-13 19:44] Bullnados commented on #620
yes

[2015-08-13 19:46] w00fz commented on #620
Is this a production site? If not, have you tried to uninstall Gantry completely and then installing again?

[2015-08-13 19:53] Bullnados commented on #620
At the moment its not production site. will be new website for our association.
Completely uninstall is: select all eight components seeing ins screenshot? If yes, than i had uninstalled complete.
MMh strange did nothing except clearing joomla cache and now it works

[2015-08-13 20:02] w00fz commented on #620
I guess you had old files cached that were being used when installing, instead of properly using the new ones.

So you are getting the system plugin auto enabled all the times now?

[2015-08-13 20:18] Bullnados commented on #620
Ok deleting cache had nothing to do. Empty cache and new installation. No problem.
I try to get gantry cached and start ne installation again :)
Open website with hydrogen theme to fill cache and installed Gantry again. No problem
So i would close the issue.

[2015-08-13 20:18] #620 closed

[2015-08-13 20:20] Bullnados commented on #620
And sorry for my English

[2015-08-13 20:21] w00fz commented on #620
No worries, thanks for taking the time helping us tracking this out and glad that at least you managed to get it working.
Let us know if the problem occurs again.

[2015-08-13 20:33] Bullnados commented on #620
Will do that. I still have one idea. Containing crosstec themes and gantry 4. Wanna test that in the next days/weeks

[2015-08-14 05:47] kat05 commented on #706
This works fine now.

[2015-08-14 06:19] kat05 commented on #707
After the upgrade from Hydrogen 5.0.1 to latest CI it contains both files, MD5SUM and MD5SUMS, reopening.

[2015-08-14 06:20] sural98 commented on #551
Were you able to replicate the issue?
If so can we expect a fix soon?

[2015-08-14 07:00] #707 closed

[2015-08-14 07:17] newkind opened #708 "WP theme preset switch requires to save twice to see changes"
Changing WP themes preset styles requires to twice hit "Save Styles" button to be able to see the changes on the frontend. After first save the hash changes but not the actual file content. This is most likely a Yosemite bug.

[2015-08-14 08:53] kat05 commented on #708
I am on Yosemite too but I can not replicate this issue.

In the Callisto Base outline, I select a different preset, hit 'Save Styles', wait till it's done, refresh frontend and I see the new style.